<!DOCTYPE html>

<html lang="en">

<!-- begin::Head -->
<%- include('../includes/head.ejs') %>
<!-- end::Head -->

<!-- begin::Body -->

<body
    style="background-image: url(assets/media/demos/demo4/header.jpg); background-position: center top; background-size: 100% 350px;"
    class="kt-page--loading-enabled kt-page--loading kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">

    <!-- begin::Page loader -->

    <!-- end::Page Loader -->

    <!-- begin:: Page -->

    <!-- begin:: Header Mobile -->
    <%- include('../includes/header-mobile.ejs') %>


    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                <!-- begin:: Header -->
                <%- include('../includes/header.ejs') %>

                <!-- end:: Header -->
                <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch"
                    id="kt_body">
                    <div class="kt-content kt-content--fit-top  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
                        id="kt_content">

                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                            <div class="kt-container ">
                                <div class="kt-subheader__main">
                                    <h3 class="kt-subheader__title">
                                        <%=mission.title%> </h3>
                                    <!-- <div class="kt-subheader__breadcrumbs">
                                        <a href="#" class="kt-subheader__breadcrumbs-home"><i
                                                class="flaticon2-shelter"></i></a>
                                        <span class="kt-subheader__breadcrumbs-separator"></span>
                                        <a href="" class="kt-subheader__breadcrumbs-link">
                                            Apps </a>
                                        <span class="kt-subheader__breadcrumbs-separator"></span>
                                        <a href="" class="kt-subheader__breadcrumbs-link">
                                            Projects </a>
                                        <span class="kt-subheader__breadcrumbs-separator"></span>
                                        <a href="" class="kt-subheader__breadcrumbs-link">
                                            View Project </a>
                                    </div> -->
                                </div>
                                <%- include('../includes/top-menu.ejs') %>

                            </div>
                        </div>

                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-container  kt-grid__item kt-grid__item--fluid">

                            <!--begin:: Portlet-->
                            <div class="kt-portlet ">
                                <div class="kt-portlet__body">
                                    <div class="kt-widget kt-widget--user-profile-3">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 col-xl-6 col-lg-6 order-md-3 order-lg-3 order-xl-3">

                                                <div class="kt-widget__content">
                                                    <div class="kt-widget__head">
                                                        <div></div>
                                                        <div></div>
                                                        <div class="row">
                                                        <div class="ml-auto" style="float: right">
                                                           

                                                            <% if (String(mission.solver) === String('Individual')) { %>
                                                                <!-- <a href="/missions/individual/<%=mission._id%>" class="btn btn-success btn-sm btn-upper">
                                                                    Join Mission</a> -->
                                                                <a href="/<%=mission.title%>/team/create" class="btn btn-success btn-sm btn-upper">
                                                                    Join Mission</a>
                                                           <% } else { %>

                                                            <a href="/missions/interested/<%=mission.title%>" class="btn btn-success btn-sm btn-upper">Show
                                                                Interest</a>&nbsp;
                                                            
                                                            <a href="/<%=mission.title%>/team/create" class="btn btn-brand btn-sm btn-upper">Create
                                                                Team</a>
                                                            &nbsp;
                                                            <% if (mission.teams.length > 0) {%>
                                                            <a href="/missions/<%=mission._id%>/teams" class="btn btn-brand btn-sm btn-upper">View
                                                                Teams</a>
                                                            <%}%>
                                                            <%} %>
                                                            
                                                              
                                                        </div>
                                                    </div>
                                                    </div>

                                                    <div class="kt-widget__info">

                                                        <!-- <div class="kt-widget__progress kt-hidden">
																<div class="kt-widget__text">
																	Progress
																</div>
																<div class="progress" style="height: 5px;width: 100%;">
																	<div class="progress-bar kt-bg-success" role="progressbar" style="width: 65%;" aria-valuenow="65"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
																<div class="kt-widget__stats">
																	78%
																</div>
															</div> -->
                                                        <div
                                                            class="kt-widget__stats d-flex align-items-center flex-fill">
                                                            <div class="kt-widget__item">
                                                                <span class="kt-widget__date">
                                                                    Start Date
                                                                </span>
                                                                <div class="kt-widget__label">
                                                                    <span
                                                                        class="btn btn-label-brand btn-sm btn-bold btn-upper"><%=moment(mission.startDate).format("MMM, D YYYY")%></span>
                                                                </div>
                                                            </div>
                                                            <div class="kt-widget__item">
                                                                <span class="kt-widget__date">
                                                                    Due Date
                                                                </span>
                                                                <div class="kt-widget__label">
                                                                    <span
                                                                        class="btn btn-label-danger btn-sm btn-bold btn-upper"><%=moment(mission.endDate).format("MMM, D YYYY")%></span>
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget__item flex-fill py-3">
                                                        <span class="kt-widget__date">
                                                            Deadline

                                                        </span>
                                                        <div class="kt-widget__label">
                                                            <!-- <span class="btn btn-label-success btn-sm btn-bold btn-upper"> -->
                                                            <h4>
                                                                <p id="demo"></p>
                                                            </h4>
                                                            <!-- </span> -->
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="kt-widget__head">
                                                        <!-- <div></div>
															<div></div> -->
                                                        <!-- <div class="kt-portlet__head-label"> -->
                                                        <h4 class="kt-portlet__head-title">
                                                            Categories
                                                        </h4>
                                                        <!-- </div> -->
                                                        <div class="kt-widget__action">
                                                            <% mission.categories.forEach(c => { %>
                                                            <button type="button" class="btn btn-info btn-sm"
                                                                style="margin-bottom: 0.5em;">
                                                                #<%=c.category.name%></button>&nbsp;

                                                            <% }) %>

                                                        </div>

                                                    </div>
                                                    <hr>
                                                    <div class="kt-widget__head">
                                                        <!-- <div></div>
															<div></div> -->
                                                        <!-- <div class="kt-portlet__head-label"> -->
                                                      
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-12 col-sm-12 col-md-6 -col-xl-6 col-lg-6 order-md-1 order-lg-1 order-xl-1">

                                                <!-- <div class="kt-widget__media kt-hidden-">
														<img src="assets/media/project-logos/3.png" alt="image">
													</div> -->

                                                <div class="kt-widget__content">
                                                    
                                                    <% if (mission.company.logo !== '') { %>
                                                    <div class="kt-widget__media kt-hidden-">
                                                        <img src="<%=mission.company.logo%>" alt="image">
                                                    </div>
                                                    <% } %>
                                                    <div class="kt-widget__head">
                                                       <h3> <a href="#" class="kt-widget__title"><%=mission.title%></a>
                                                       </h3>
                                                    </div>

                                                    <div class="kt-widget__info">
                                                        <div class="kt-widget__desc">
                                                            <%-mission.description%>
                                                        </div>
                                                        <div class="kt-widget__desc">
                                                            <%-mission.output%>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget__head">
                                                        <!-- <div></div>
                                                                                                            															<div></div> -->
                                                        <!-- <div class="kt-portlet__head-label"> -->
                                                        <h4 class="kt-portlet__head-title">
                                                            Mission Type
                                                        </h4>
                                                        <div class="kt-widget__desc">
                                                            <button type="button" class="btn btn-default btn-sm" style="margin-bottom: 0.5em;">
                                                                #<%=mission.solver%></button>&nbsp;
                                                    
                                                        </div>
                                                    
                                                    </div>
                                                    <hr>
                                                    <div class="kt-widget__icon" style="font-size: 3rem !important;">
                                                        <i class="flaticon-facebook-logo-button"></i>
                                                        <i class="flaticon-twitter-logo-button"></i>
                                                        <i class="flaticon-linkedin"></i>
                                                        <i class="flaticon-instagram-logo"></i>

                                                    </div>

                                                </div>
                                            </div>
                                           
                                        </div>

                                        <div class="kt-widget__bottom">
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-medal"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Price/Award</span>
                                                    <span
                                                        class="kt-widget__value"><span>$noihoihno</span><%=mission.reward%> / <%=mission.rewardDistribution%> </span>
                                                </div>
                                            </div>
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-network"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Teams</span>
                                                    <% if (!mission.teams) { %>
                                                    0
                                                    <%} else { %>
                                                    <span class="kt-widget__value"><%=mission.teams.length%></span>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-eye"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Views</span>
                                                    <span class="kt-widget__value"><%=mission.views%></span>
                                                </div>
                                            </div>
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-file-2"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Interested</span>
                                                    <span class="kt-widget__value"><%=mission.interested.length%></span>
                                                </div>
                                            </div>
                                            <!-- <div class="kt-widget__item">
													<div class="kt-widget__icon">
														<i class="flaticon-chat-1"></i>
													</div>
													<div class="kt-widget__details">
														<span class="kt-widget__title">648 Comments</span>
														<a href="#" class="kt-widget__value kt-font-brand">View</a>
													</div>
												</div>
												<div class="kt-widget__item">
													<div class="kt-widget__icon">
														<i class="flaticon-network"></i>
													</div>
													<div class="kt-widget__details">
														<div class="kt-section__content kt-section__content--solid">
															<div class="kt-media-group">
																<a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip"
																	data-skin="brand" data-placement="top" title="" data-original-title="John Myer">
																	<img src="assets/media/users/100_7.jpg" alt="image">
																</a>
																<a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip"
																	data-skin="brand" data-placement="top" title="" data-original-title="Alison Brandy">
																	<img src="assets/media/users/100_3.jpg" alt="image">
																</a>
																<a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip"
																	data-skin="brand" data-placement="top" title="" data-original-title="Selina Cranson">
																	<img src="assets/media/users/100_2.jpg" alt="image">
																</a>
																<a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip"
																	data-skin="brand" data-placement="top" title="" data-original-title="Luke Walls">
																	<img src="assets/media/users/100_13.jpg" alt="image">
																</a>
																<a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip"
																	data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
																	<img src="assets/media/users/100_4.jpg" alt="image">
																</a>
																<a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip"
																	data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
																	<span>+3</span>
																</a>
															</div>
														</div>
													</div>
												</div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end:: Portlet-->
                            <div class="row">
                                <div class="col-xl-12">

                                    <!--begin:: Widgets/Last Updates-->
                                    <div class="kt-portlet kt-portlet--height-fluid">
                                        <div class="kt-portlet__body">
                                            <div class="kt-widget kt-widget--user-profile-3">
                                                <div class="kt-widget__top">

                                                    <div class="kt-widget__content">
                                                        <div class="kt-widget__head">
                                                            <a href="#" class="kt-widget__username">
                                                                Similar Challenges
                                                            </a>

                                                        </div>


                                                    </div>

                                                </div>

                                            </div>


                                        </div>
                                    </div>

                                    <!--end:: Widgets/Last Updates-->
                                </div>
                            </div>
                            <div class="row">
                                <% missions.forEach(m => { %>
                                <div class="col-xl-6">
                                    <!--begin:: Widgets/Last Updates-->
                                    <div class="kt-portlet kt-portlet--height-fluid">
                                        <div class="kt-portlet__body">
                                            <div class="kt-widget kt-widget--user-profile-3">
                                                <div class="kt-widget__top">
                                                   
                                                    <% if (m.company.logo !== '') { %>
                                                    <div class="kt-widget__media kt-hidden-">
                                                        <img src="<%=m.company.logo%>" alt="image">
                                                    </div>
                                                    <% } %>

                                                    <div class="kt-widget__content">
                                                        <div class="kt-widget__head">
                                                            <a href="/missions/mission/<%=m._id%>"
                                                                class="kt-widget__username">
                                                                <%=m.title%>
                                                            </a>
                                                            <div class="kt-widget__action">
                                                                <a href="/missions/interested/<%=m.title%>"
                                                                    class="btn btn-label-success btn-sm btn-upper">Show
                                                                    Interest</a>&nbsp;
                                                                <a href="/missions/mission/<%=m._id%>"
                                                                    class="btn btn-brand btn-sm btn-upper">View</a>
                                                            </div>
                                                        </div>
                                                        <hr>

                                                        <div class="kt-widget__subhead">
                                                            <a href="#"><i
                                                                    class="flaticon-event-calendar-symbol"></i>Start
                                                                Date: <%=moment(m.startDate).format("MMM, D YYYY")%></a>
                                                            <a href="#"><i
                                                                    class="flaticon-event-calendar-symbol"></i>Due Date:
                                                                <%=moment(m.endDate).format("MMM, D YYYY")%> </a>
                                                        </div>
                                                        <div class="kt-widget__info">
                                                            <div class="kt-widget__desc">
                                                                <%=m.description.substring(0, 220)+"..."%>
                                                            </div>
                                                        </div>
                                                        <div class="kt-widget__subhead">
                                                            <% m.categories.forEach(c => { %>
                                                            <button type="button" class="btn btn-info btn-sm"
                                                                style="margin-bottom: 0.5em;">#<%=c.category.name%></button>&nbsp;
                                                            <% }) %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-widget__bottom">
                                                    <div class="kt-widget__item">
                                                        <div class="kt-widget__icon">
                                                            <i class="flaticon-medal"></i>
                                                        </div>
                                                        <div class="kt-widget__details">
                                                            <span class="kt-widget__title">Price/Award</span>
                                                            <span
                                                                class="kt-widget__value"><span>$</span><%=m.reward%></span>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget__item">
                                                        <div class="kt-widget__icon">
                                                            <i class="flaticon-network"></i>
                                                        </div>
                                                        <div class="kt-widget__details">
                                                            <span class="kt-widget__title">Teams</span>
                                                            <span class="kt-widget__value"><%=m.teams.length%></span>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget__item">
                                                        <div class="kt-widget__icon">
                                                            <i class="flaticon-eye"></i>
                                                        </div>
                                                        <div class="kt-widget__details">
                                                            <span class="kt-widget__title">Views</span>
                                                            <span class="kt-widget__value"><%=m.views%></span>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget__item">
                                                        <div class="kt-widget__icon">
                                                            <i class="flaticon-file-2"></i>
                                                        </div>
                                                        <div class="kt-widget__details">
                                                            <span class="kt-widget__title">Interested</span>
                                                            <a href="#"
                                                                class="kt-widget__value"><%=m.interested.length%></a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end:: Widgets/Last Updates-->
                                </div>
                                <% }) %>

                            </div>



                            <!--Begin::Pagination-->
                            <div class="row">
                                <div class="col-xl-12">

                                    <!--begin:: Components/Pagination/Default-->
                                    <div class="kt-portlet">
                                        <div class="kt-portlet__body">

                                            <!--begin: Pagination-->
                                            <div class="kt-pagination kt-pagination--brand">
                                                <ul class="kt-pagination__links">
                                                   
                                                        <% if (Number(pageSelected) > 1) { %>
                                                            <li class="kt-pagination__link--first">
                                                                <a href="/missions?page=1"><i
                                                                    class="fa fa-angle-double-left kt-font-brand"></i></a>
                                                        </li>
                                                        <li class="kt-pagination__link--next">
                                                            <a href="/missions?page=<%= Number(pageSelected) - 2%>"><i class="fa fa-angle-left kt-font-brand"></i></a>
                                                        </li>
                                                       <% } %>
                                                        

                                                       <% if (Number(pageSelected) >= 2) { %>
                                            
                                                   <li class="kt-pagination__link--active">
                                                                    <a href="/missions?page=<%= Number(pageSelected) - 2 %>"><%= Number(pageSelected) - 1 %></a>
                                                                </li>
                                                   <% } %>


                                                       <% for (let i = 0; i < (paginationLength - pageSelected + 1); i++ ) {%>
                                                            
                                                                <li class="kt-pagination__link--active">
                                                                    <a href="/missions?page=<%= Number(pageSelected) + i %>"><%= Number(pageSelected) + i %></a>
                                                                </li>
                                                      <% } %>


                                                     

                                                    <% if (Number(pageSelected) < Number(paginationLength)) { %>
                                                        <li class="kt-pagination__link--prev">
                                                            <a href="/missions?page=<%=Number(paginationLength) - 1%>"><i class="fa fa-angle-right kt-font-brand"></i></a>
                                                        </li>
                                                        <li class="kt-pagination__link--last">
                                                            <a href="/missions?page=<%=paginationLength%>"><i
                                                                    class="fa fa-angle-double-right kt-font-brand"></i></a>
                                                        </li>
                                                   <% } %>
                                                   
                                                </ul>
                                                <!-- <div class="kt-pagination__toolbar">
                                                    <select class="form-control kt-font-brand" style="width: 60px">
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>
                                                    <span class="pagination__desc">
                                                        Displaying 10 of 230 records
                                                    </span>
                                                </div> -->
                                            </div>

                                            <!--end: Pagination-->
                                        </div>
                                    </div>

                                    <!--end:: Components/Pagination/Default-->
                                </div>
                            </div>
                            <!--End::Pagination-->
                        </div>

                        <!-- end:: Content -->
                    </div>
                </div>

                <!-- begin:: Footer -->
                <%- include('../includes/footer.ejs') %>


                <!-- end:: Footer -->
            </div>
        </div>
    </div>

    <!-- end:: Page -->

    <!-- begin::Quick Panel -->
    <div id="kt_quick_panel" class="kt-quick-panel">
        <a href="#" class="kt-quick-panel__close" id="kt_quick_panel_close_btn"><i class="flaticon2-delete"></i></a>
        <div class="kt-quick-panel__nav">
            <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand  kt-notification-item-padding-x"
                role="tablist">
                <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#kt_quick_panel_tab_notifications"
                        role="tab">Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_quick_panel_tab_logs" role="tab">Audit Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_quick_panel_tab_settings" role="tab">Settings</a>
                </li>
            </ul>
        </div>
        <div class="kt-quick-panel__content">
            <div class="tab-content">
                <div class="tab-pane fade show kt-scroll active" id="kt_quick_panel_tab_notifications" role="tabpanel">
                    <div class="kt-notification">
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-line-chart kt-font-success"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New order has been received
                                </div>
                                <div class="kt-notification__item-time">
                                    2 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-box-1 kt-font-brand"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New customer is registered
                                </div>
                                <div class="kt-notification__item-time">
                                    3 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-chart2 kt-font-danger"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    Application has been approved
                                </div>
                                <div class="kt-notification__item-time">
                                    3 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-image-file kt-font-warning"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New file has been uploaded
                                </div>
                                <div class="kt-notification__item-time">
                                    5 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-drop kt-font-info"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New user feedback received
                                </div>
                                <div class="kt-notification__item-time">
                                    8 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-pie-chart-2 kt-font-success"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    System reboot has been successfully completed
                                </div>
                                <div class="kt-notification__item-time">
                                    12 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-favourite kt-font-danger"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New order has been placed
                                </div>
                                <div class="kt-notification__item-time">
                                    15 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item kt-notification__item--read">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-safe kt-font-primary"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    Company meeting canceled
                                </div>
                                <div class="kt-notification__item-time">
                                    19 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-psd kt-font-success"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New report has been received
                                </div>
                                <div class="kt-notification__item-time">
                                    23 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon-download-1 kt-font-danger"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    Finance report has been generated
                                </div>
                                <div class="kt-notification__item-time">
                                    25 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon-security kt-font-warning"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New customer comment recieved
                                </div>
                                <div class="kt-notification__item-time">
                                    2 days ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-pie-chart kt-font-warning"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New customer is registered
                                </div>
                                <div class="kt-notification__item-time">
                                    3 days ago
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tab-pane fade kt-scroll" id="kt_quick_panel_tab_logs" role="tabpanel">
                    <div class="kt-notification-v2">
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon-bell kt-font-brand"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    5 new user generated report
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    Reports based on sales
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon2-box kt-font-danger"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    2 new items submited
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    by Grog John
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon-psd kt-font-brand"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    79 PSD files generated
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    Reports based on sales
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon2-supermarket kt-font-warning"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    $2900 worth producucts sold
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    Total 234 items
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon-paper-plane-1 kt-font-success"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    4.5h-avarage response time
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    Fostest is Barry
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon2-information kt-font-danger"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    Database server is down
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    10 mins ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon2-mail-1 kt-font-brand"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    System report has been generated
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    Fostest is Barry
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon2-hangouts-logo kt-font-warning"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    4.5h-avarage response time
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    Fostest is Barry
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tab-pane kt-quick-panel__content-padding-x fade kt-scroll" id="kt_quick_panel_tab_settings"
                    role="tabpanel">
                    <form class="kt-form">

                        <div class="kt-heading kt-heading--sm kt-heading--space-sm">Customer Care</div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Enable Notifications:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--success kt-switch--sm">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_1">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Enable Case Tracking:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--success kt-switch--sm">
                                    <label>
                                        <input type="checkbox" name="quick_panel_notifications_2">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-last form-group-xs row">
                            <label class="col-8 col-form-label">Support Portal:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--success kt-switch--sm">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_2">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="kt-separator kt-separator--space-md kt-separator--border-dashed"></div>
                        <div class="kt-heading kt-heading--sm kt-heading--space-sm">Reports</div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Generate Reports:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--sm kt-switch--danger">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_3">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Enable Report Export:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--sm kt-switch--danger">
                                    <label>
                                        <input type="checkbox" name="quick_panel_notifications_3">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-last form-group-xs row">
                            <label class="col-8 col-form-label">Allow Data Collection:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--sm kt-switch--danger">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_4">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="kt-separator kt-separator--space-md kt-separator--border-dashed"></div>
                        <div class="kt-heading kt-heading--sm kt-heading--space-sm">Memebers</div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Enable Member singup:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--sm kt-switch--brand">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_5">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Allow User Feedbacks:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--sm kt-switch--brand">
                                    <label>
                                        <input type="checkbox" name="quick_panel_notifications_5">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-last form-group-xs row">
                            <label class="col-8 col-form-label">Enable Customer Portal:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--sm kt-switch--brand">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_6">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- end::Quick Panel -->

    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>

    <!-- end::Scrolltop -->

    <!-- begin::Sticky Toolbar -->
    <%- include('../includes/toolbar.ejs') %>


    <!-- end::Sticky Toolbar -->

    <!-- begin::Demo Panel -->
    <div id="kt_demo_panel" class="kt-demo-panel">
        <div class="kt-demo-panel__head">
            <h3 class="kt-demo-panel__title">
                Select A Demo

                <!--<small>5</small>-->
            </h3>
            <a href="#" class="kt-demo-panel__close" id="kt_demo_panel_close"><i class="flaticon2-delete"></i></a>
        </div>
        <div class="kt-demo-panel__body">
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 1
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo1.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo1/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo1/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 2
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo2.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo2/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo2/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 3
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo3.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo3/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo3/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item kt-demo-panel__item--active">
                <div class="kt-demo-panel__item-title">
                    Demo 4
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo4.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo4/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo4/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 5
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo5.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo5/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo5/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 6
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo6.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo6/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo6/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 7
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo7.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo7/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo7/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 8
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo8.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo8/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo8/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 9
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo9.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo9/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo9/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 10
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo10.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo10/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo10/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 11
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo11.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo11/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo11/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 12
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo12.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo12/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo12/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 13
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo13.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="#" class="btn btn-brand btn-elevate disabled">Coming soon</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 14
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo14.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="#" class="btn btn-brand btn-elevate disabled">Coming soon</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 15
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo15.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="#" class="btn btn-brand btn-elevate disabled">Coming soon</a>
                    </div>
                </div>
            </div>
            <a href="https://1.envato.market/EA4JP" target="_blank"
                class="kt-demo-panel__purchase btn btn-brand btn-elevate btn-bold btn-upper">
                Buy Metronic Now!
            </a>
        </div>
    </div>

    <!-- end::Demo Panel -->

    <!--Begin:: Chat-->
    <div class="modal fade- modal-sticky-bottom-right" id="kt_chat_modal" role="dialog" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="kt-chat">
                    <div class="kt-portlet kt-portlet--last">
                        <div class="kt-portlet__head">
                            <div class="kt-chat__head ">
                                <div class="kt-chat__left">
                                    <div class="kt-chat__label">
                                        <a href="#" class="kt-chat__title">Jason Muller</a>
                                        <span class="kt-chat__status">
                                            <span class="kt-badge kt-badge--dot kt-badge--success"></span> Active
                                        </span>
                                    </div>
                                </div>
                                <div class="kt-chat__right">
                                    <div class="dropdown dropdown-inline">
                                        <button type="button" class="btn btn-clean btn-sm btn-icon"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="flaticon-more-1"></i>
                                        </button>
                                        <div
                                            class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-md">

                                            <!--begin::Nav-->
                                            <ul class="kt-nav">
                                                <li class="kt-nav__head">
                                                    Messaging
                                                    <i class="flaticon2-information" data-toggle="kt-tooltip"
                                                        data-placement="right" title="Click to learn more..."></i>
                                                </li>
                                                <li class="kt-nav__separator"></li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-group"></i>
                                                        <span class="kt-nav__link-text">New Group</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                                        <span class="kt-nav__link-text">Contacts</span>
                                                        <span class="kt-nav__link-badge">
                                                            <span
                                                                class="kt-badge kt-badge--brand  kt-badge--rounded-">5</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-bell-2"></i>
                                                        <span class="kt-nav__link-text">Calls</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-dashboard"></i>
                                                        <span class="kt-nav__link-text">Settings</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-protected"></i>
                                                        <span class="kt-nav__link-text">Help</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__separator"></li>
                                                <li class="kt-nav__foot">
                                                    <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade
                                                        plan</a>
                                                    <a class="btn btn-clean btn-bold btn-sm" href="#"
                                                        data-toggle="kt-tooltip" data-placement="right"
                                                        title="Click to learn more...">Learn more</a>
                                                </li>
                                            </ul>

                                            <!--end::Nav-->
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-clean btn-sm btn-icon" data-dismiss="modal">
                                        <i class="flaticon2-cross"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="kt-scroll kt-scroll--pull" data-height="410" data-mobile-height="225">
                                <div class="kt-chat__messages kt-chat__messages--solid">
                                    <div class="kt-chat__message kt-chat__message--success">
                                        <div class="kt-chat__user">
                                            <span class="kt-media kt-media--circle kt-media--sm">
                                                <img src="assets/media/users/100_12.jpg" alt="image">
                                            </span>
                                            <a href="#" class="kt-chat__username">Jason Muller</span></a>
                                            <span class="kt-chat__datetime">2 Hours</span>
                                        </div>
                                        <div class="kt-chat__text">
                                            How likely are you to recommend our company<br> to your friends and family?
                                        </div>
                                    </div>
                                    <div class="kt-chat__message kt-chat__message--right kt-chat__message--brand">
                                        <div class="kt-chat__user">
                                            <span class="kt-chat__datetime">30 Seconds</span>
                                            <a href="#" class="kt-chat__username">You</span></a>
                                            <span class="kt-media kt-media--circle kt-media--sm">
                                                <img src="assets/media/users/300_21.jpg" alt="image">
                                            </span>
                                        </div>
                                        <div class="kt-chat__text">
                                            Hey there, we’re just writing to let you know that you’ve<br> been
                                            subscribed to a repository on GitHub.
                                        </div>
                                    </div>
                                    <div class="kt-chat__message kt-chat__message--success">
                                        <div class="kt-chat__user">
                                            <span class="kt-media kt-media--circle kt-media--sm">
                                                <img src="assets/media/users/100_12.jpg" alt="image">
                                            </span>
                                            <a href="#" class="kt-chat__username">Jason Muller</span></a>
                                            <span class="kt-chat__datetime">30 Seconds</span>
                                        </div>
                                        <div class="kt-chat__text">
                                            Ok, Understood!
                                        </div>
                                    </div>
                                    <div class="kt-chat__message kt-chat__message--right kt-chat__message--brand">
                                        <div class="kt-chat__user">
                                            <span class="kt-chat__datetime">Just Now</span>
                                            <a href="#" class="kt-chat__username">You</span></a>
                                            <span class="kt-media kt-media--circle kt-media--sm">
                                                <img src="assets/media/users/300_21.jpg" alt="image">
                                            </span>
                                        </div>
                                        <div class="kt-chat__text">
                                            You’ll receive notifications for all issues, pull requests!
                                        </div>
                                    </div>
                                    <div class="kt-chat__message kt-chat__message--success">
                                        <div class="kt-chat__user">
                                            <span class="kt-media kt-media--circle kt-media--sm">
                                                <img src="assets/media/users/100_12.jpg" alt="image">
                                            </span>
                                            <a href="#" class="kt-chat__username">Jason Muller</span></a>
                                            <span class="kt-chat__datetime">2 Hours</span>
                                        </div>
                                        <div class="kt-chat__text">
                                            You were automatically <b class="kt-font-brand">subscribed</b> <br>because
                                            you’ve been given access to the repository
                                        </div>
                                    </div>
                                    <div class="kt-chat__message kt-chat__message--right kt-chat__message--brand">
                                        <div class="kt-chat__user">
                                            <span class="kt-chat__datetime">30 Seconds</span>
                                            <a href="#" class="kt-chat__username">You</span></a>
                                            <span class="kt-media kt-media--circle kt-media--sm">
                                                <img src="assets/media/users/300_21.jpg" alt="image">
                                            </span>
                                        </div>
                                        <div class="kt-chat__text">
                                            You can unwatch this repository immediately <br>by clicking here: <a
                                                href="#" class="kt-font-bold kt-link"></a>
                                        </div>
                                    </div>
                                    <div class="kt-chat__message kt-chat__message--success">
                                        <div class="kt-chat__user">
                                            <span class="kt-media kt-media--circle kt-media--sm">
                                                <img src="assets/media/users/100_12.jpg" alt="image">
                                            </span>
                                            <a href="#" class="kt-chat__username">Jason Muller</span></a>
                                            <span class="kt-chat__datetime">30 Seconds</span>
                                        </div>
                                        <div class="kt-chat__text">
                                            Discover what students who viewed Learn <br>Figma - UI/UX Design Essential
                                            Training also viewed
                                        </div>
                                    </div>
                                    <div class="kt-chat__message kt-chat__message--right kt-chat__message--brand">
                                        <div class="kt-chat__user">
                                            <span class="kt-chat__datetime">Just Now</span>
                                            <a href="#" class="kt-chat__username">You</span></a>
                                            <span class="kt-media kt-media--circle kt-media--sm">
                                                <img src="assets/media/users/300_21.jpg" alt="image">
                                            </span>
                                        </div>
                                        <div class="kt-chat__text">
                                            Most purchased Business courses during this sale!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-chat__input">
                                <div class="kt-chat__editor">
                                    <textarea placeholder="Type here..." style="height: 50px"></textarea>
                                </div>
                                <div class="kt-chat__toolbar">
                                    <div class="kt_chat__tools">
                                        <a href="#"><i class="flaticon2-link"></i></a>
                                        <a href="#"><i class="flaticon2-photograph"></i></a>
                                        <a href="#"><i class="flaticon2-photo-camera"></i></a>
                                    </div>
                                    <div class="kt_chat__actions">
                                        <button type="button"
                                            class="btn btn-brand btn-md  btn-font-sm btn-upper btn-bold kt-chat__reply">reply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ENd:: Chat-->


    <%- include('../includes/scripts.ejs') %>
    <%- include('../includes/timer.ejs') %>
    <!--end::Page Scripts -->

</body>

<!-- end::Body -->

</html>