<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.ejs') %>

<body class="page-has-left-panels page-has-right-panels">


    <!-- Preloader -->

    <div id="hellopreloader">
        <div class="preloader">
            <svg width="45" height="45" stroke="#fff">
                <g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(1 1)">
                    <circle cx="22" cy="22" r="6" stroke="none">
                        <animate attributeName="r" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite"
                            values="6;22" />
                        <animate attributeName="stroke-opacity" begin="1.5s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="1;0" />
                        <animate attributeName="stroke-width" begin="1.5s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="2;0" />
                    </circle>
                    <circle cx="22" cy="22" r="6" stroke="none">
                        <animate attributeName="r" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite"
                            values="6;22" />
                        <animate attributeName="stroke-opacity" begin="3s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="1;0" />
                        <animate attributeName="stroke-width" begin="3s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="2;0" />
                    </circle>
                    <circle cx="22" cy="22" r="8">
                        <animate attributeName="r" begin="0s" calcMode="linear" dur="1.5s" repeatCount="indefinite"
                            values="6;1;2;3;4;5;6" />
                    </circle>
                </g>
            </svg>

            <div class="text">Loading ...</div>
        </div>
    </div>

    <!-- ... end Preloader -->


    <%- include('../includes/right-menu.ejs') %>

    <%- include('../includes/header.ejs') %>
    

    <section>
        <div class="container">
            <div class="row ui-block" stype="/*margin: 50px!important;*/">
                <div class="col col-xl-8 ml-auto order-xl-2 col-lg-8 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12" >
                    <% if (errorMessage) { %>
                        <div class="alert alert-danger" role="alert" style="text-align: center">
                            <%=errorMessage%>
                        </div>
                    <% } %>
                    <% if (successMessage) { %>
                        <div class="alert alert-success" role="alert" style="text-align: center">
                            <%=successMessage%>
                        </div>
                    <% } %>
                    <!-- Help Main Topic -->
                    <%count = 1%>
                    <% teams.forEach(t => { %>

                        <div id="<%=t._id%>" class="help-main-topic" style="padding-top: 40px;  <%- count === 1 ? '' : 'display: none;' %>">

                            <%count=count+1 %>
                            <!-- <div class="ui-block-title">
                                <h4 class="title">Project Title</h4>
                            </div> -->
                            <article class="hentry blog-post blog-post-v3">
                            
                                <div class="post-thumb" style="width: 30%">
                                    <img src="" alt="photo">
                                </div>
                            
                                <div class="post-content" style="width: 70%">
                                    
                                    <a href="#" class="h4 post-title"><%=t.name%></a>
                            
                                </div>
                            
                            </article>
                            <br>
                            
                            <h4 class="title">Manifesto</h4>
                            
                            <%=t.textManifesto%>
                            <hr>
                            <h4 class="title">Members</h4>
                        
                            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <ul class="widget w-friend-pages-added notification-list friend-requests">
                                    <% t.members.forEach(m => { %>
                                        <a href="#" >
                                            <li class="inline-items">
                                                <div class="img-thumbnail" style="/*width: 10% !important;*/    height: 50px; width: 60px;">
                                                    <img src="" alt="author">
                                                </div>
                                                <div class="notification-event">
                                                    <a href="#" class="h5 notification-friend"><%=m.member.firstname%> <%=m.member.lastname%></a>
                                                    <% if (!m.member.missions) { %>
                                                    0
                                                    <%} else { %>
                                                    <span class="chat-message-item"> <%=m.member.missions.length%> Mission(s)</span>
                                                    <% } %>
                                                    <br>
                                                    <span class="chat-message-item"> <a href="#" class="accept-request1">
                                                    </a></span>
                                                </div>
                                            
                                            </li>
                                        </a> 
                                    <% }) %>
                                </ul>
                            </div>
                            <hr>
                            <h4 class="title">Membership Request</h4>
                        
                            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <ul class="widget w-friend-pages-added notification-list friend-requests">
                                    <% t.newMemberRequests.forEach(m => { %>
                                        <a href="#" >
                                            <li class="inline-items">
                                                <div class="img-thumbnail" style="/*width: 10% !important;*/    height: 50px; width: 60px;">
                                                    <img src="" alt="author">
                                                </div>
                                                <div class="notification-event">
                                                    <a href="#" class="h5 notification-friend"><%=m.member.firstname%> <%=m.member.lastname%></a>
                                                    <span class="chat-message-item"> <%=m.member.missions.length%> Mission(s)</span>
                                                    <br>
                                                    <span class="chat-message-item"> 
                                                    <a href="/teams/<%=t._id%>/<%=m.member._id%>/approve" class="accept-request">
                                                        Approve
                                                    </a></span>
                                                </div>
                                            
                                            </li>
                                        </a> 
                                    <% }) %>
                                </ul>
                            </div>
                        

                           <br>
        
                        </div>

                    <% }) %>
    
                    <!-- ... end Help Main Topic -->
    
                </div>
                <div class="col col-xl-4 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">
                    <div class="ui-block-title">
                        <!-- <h5 class="title">Behavioural Competencies Projects</h5> -->
                        <span class="notification-icon">
                            <a href="#" class="accept-request1">
                                Sort by recently added
                            </a>
                        </span>
                        
                    </div>
                    <ul class="widget w-friend-pages-added notification-list friend-requests">
                        <% teams.forEach(t => { %>
                            <a href="#" rel="<%=t._id%>">
                                <li class="inline-items">
                                    <div class="img-thumbnail" style="/*width: 10% !important;*/    height: 50px; width: 60px;">
                                        <img src="" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" rel="<%=t._id%>" class="h5 notification-friend"><%=t.name%></a>
                                        <span class="chat-message-item"> <%=t.members.length%> Member(s) </span>
                                        <br>
                                        <span class="chat-message-item"> <a href="#" class="accept-request1">
                                            Published: <%=moment(t.createdAt).format("MMMM, D YYYY")%>
                                        </a></span>
                                    </div>
                                
                                </li>
                            </a> 
                        <% }) %>
                       
                        
                        
                    
                    </ul>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1<div class="ripple-container">
                                        <div class="ripple ripple-on ripple-out"
                                            style="left: -10.3833px; top: -16.8333px; background-color: rgb(255, 255, 255); transform: scale(16.7857);">
                                        </div>
                                    </div></a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
    
                </div>
            </div>
        </div>
    </section>

    <!-- Window-popup-CHAT for responsive min-width: 768px -->

    <div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog"
        aria-labelledby="popup-chat-responsive" aria-hidden="true">

        <div class="modal-content">
            <div class="modal-header">
                <span class="icon-status online"></span>
                <h6 class="title">Chat</h6>
                <div class="more">
                    <svg class="olymp-three-dots-icon">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                    </svg>
                    <svg class="olymp-little-delete js-chat-open">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                    </svg>
                </div>
            </div>
            <div class="modal-body">
                <div class="mCustomScrollbar">
                    <ul class="notification-list chat-message chat-message-field">
                        <li>
                            <div class="author-thumb">
                                <img src="img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow!
                                    I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
                                <span class="notification-date"><time class="entry-date updated"
                                        datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="img/author-page.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Don’t worry Mathilda!</span>
                                <span class="chat-message-item">I already bought everything</span>
                                <span class="notification-date"><time class="entry-date updated"
                                        datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow!
                                    I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
                                <span class="notification-date"><time class="entry-date updated"
                                        datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>
                    </ul>
                </div>

                <form class="need-validation">

                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Press enter to post...</label>
                        <textarea class="form-control" placeholder=""></textarea>
                        <div class="add-options-message">
                            <a href="#" class="options-message">
                                <svg class="olymp-computer-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
                                </svg>
                            </a>
                            <div class="options-message smile-block">

                                <svg class="olymp-happy-sticker-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use>
                                </svg>

                                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat1.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat2.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat3.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat4.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat5.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat6.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat7.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat8.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat9.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat10.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat11.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat12.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat13.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat14.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat15.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat16.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat17.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat18.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat19.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat20.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat21.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat22.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat23.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat24.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat25.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat26.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat27.png" alt="icon">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <!-- ... end Window-popup-CHAT for responsive min-width: 768px -->

    <%- include('../includes/scripts.ejs') %>

</body>

</html>