<!DOCTYPE html>

<html lang="en">

<!-- begin::Head -->
<%- include('../includes/head.ejs') %>
<!-- end::Head -->

<!-- begin::Body -->
<style>
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

@media screen and (min-width: 768px) {
    .hideForBigScreen {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .hideForSmallScreen {
        display: none;
    }
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
</style>

<body
    style="background-image: url(assets/media/demos/demo4/header.jpg); background-position: center top; background-size: 100% 350px;"
    class="kt-page--loading-enabled kt-page--loading kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">

    <!-- begin::Page loader -->

    <!-- end::Page Loader -->

    <!-- begin:: Page -->

    <!-- begin:: Header Mobile -->
    <%- include('../includes/header-mobile.ejs') %>


    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                <!-- begin:: Header -->
                <%- include('../includes/header.ejs') %>

                <!-- end:: Header -->
                <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch"
                    id="kt_body">
                    <div class="kt-content kt-content--fit-top  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
                        id="kt_content">

                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                            <div class="kt-container ">
                                <div class="kt-subheader__main">
                                    <h3 class="kt-subheader__title">
                                        Rate Members </h3>
                                    <!-- <div class="kt-subheader__breadcrumbs">
                                        <a href="#" class="kt-subheader__breadcrumbs-home"><i
                                                class="flaticon2-shelter"></i></a>
                                        <span class="kt-subheader__breadcrumbs-separator"></span>
                                        <a href="" class="kt-subheader__breadcrumbs-link">
                                            Apps </a>
                                        <span class="kt-subheader__breadcrumbs-separator"></span>
                                        <a href="" class="kt-subheader__breadcrumbs-link">
                                            Projects </a>
                                        <span class="kt-subheader__breadcrumbs-separator"></span>
                                        <a href="" class="kt-subheader__breadcrumbs-link">
                                            View Project </a>
                                    </div> -->
                                </div>
                                <div class="kt-subheader__toolbar">
                                    <div class="kt-subheader__wrapper">
                                        <a href="#" class="btn kt-subheader__btn-secondary">
                                            All Challenges
                                        </a>
                                        <div class="dropdown dropdown-inline" data-toggle="kt-tooltip"
                                            title="Quick actions" data-placement="top">
                                            <a href="#" class="btn btn-danger kt-subheader__btn-options"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Challenges
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#"><i class="la la-plus"></i>My
                                                    Challenges</a>
                                                <a class="dropdown-item" href="#"><i class="la la-user"></i> My Active
                                                    Challenges</a>
                                                <a class="dropdown-item" href="#"><i class="la la-cloud-download"></i>
                                                    Closed Challenges</a>
                                                <!-- <div class="dropdown-divider"></div>
																						<a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-container  kt-grid__item kt-grid__item--fluid">

                            <!--begin:: Portlet-->
                            <div class="kt-portlet ">
                                <div class="kt-portlet__body">
                                    <div class="kt-widget kt-widget--user-profile-3">
                                        <div class="kt-widget__top">

                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12 hideForBigScreen">
                                                <% interestedApplicants.forEach(m => { %>
                                                <div>
                                                    <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapse<%=m._id%>" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a> -->
                                                    <div class="kt-widget kt-widget--user-profile-3">
                                                        <div class="kt-widget__top">
                                                            <div class="kt-widget__media kt-hidden-">
                                                                <img src="" alt="<%=m.member.firstname%> <%=m.member.lastname%>">
                                                            </div>
                                                    
                                                            <div class="kt-widget__content">
                                                                <div class="kt-widget__head">
                                                                    <a class="kt-widget__username"  data-toggle="collapse" href="#collapse<%=m._id%>" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                                                                        <%=m.member.firstname%> <%=m.member.lastname%>
                                                                    </a>
                                                                   
                                                                </div>
                                                               
                                                    
                                                            </div>
                                                        </div>
                                                    
                                                    </div>
                                                  </div>
                                                  
                                                  <div class="row ">
                                                    <div class="col">
                                                      <div class="collapse multi-collapse" id="collapse<%=m._id%>">
                                                        <div class="card card-body">
                                                            <div class="kt-widget__head">
                                                                <form class="customForm" id="form<%=m.member._id%>" >
                                                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                                        <input type="hidden" name="applicantId" value="<%= m.member._id %>">
                                                                        <input type="hidden" name="teamId" value="<%=teamId%>"  >
                                                
                                                            <% allCompetencies.forEach(c=> { %>
    
                                                            
                                                            <!-- <h4 class="kt-portlet__head-title"> -->
                                                                <div class="row">
                                                                   
                                                            <!-- </div> -->
                                                            <div class="col-12 col-sm-12 col-md-12">
                                                            <div class="kt-widget__action">
                                                                <label class="kt-checkbox">
                                                                    <input type="checkbox" name="rate<%=m.member._id%><%=c._id%>" value="<%=c._id%>"> <%=c.competency[0].name%>
                                                                    <span></span>
                                                                </label>
                                                              
                                                            </div>
                                                        </div>
                                                    </div>
                                                            <%})%>
                                                            <button type="submit" class="btn btn-sm btn-upper submitRating<%=m.member._id%>"  
                                                            id="submitRating<%=m.member._id%>" style="background: #516dd4; color: antiquewhite;">Submit</button>
                                                    
                                                            <button  class="btn btn-sm btn-upper confirmSubmitRating confirmSubmitRating<%=m.member._id%>" 
                                                            id="confirmSubmitRating<%=m.member._id%>" style="background: #516dd4; color: antiquewhite;">Rating Submitted</button>
                                                    
                                                        </form>
                                                        </div>
    
                                                        </div>
                                                      </div>
                                                    </div>
                                                    
                                                  </div>
                                                  <%})%>
                                            </div>



                                        <div class="col-xl-6 col-lg-6 order-lg-1 order-xl-1 hideForSmallScreen">
                                                <br>
                                                <% if (errorMessage) { %>
                                                <div class="alert alert-danger" role="alert" style="text-align: center">
                                                    <%=errorMessage%>
                                                </div>
                                                <% } %>
                                                <% if (successMessage) { %>
                                                <div class="alert alert-success" role="alert"
                                                    style="text-align: center">
                                                    <%=successMessage%>
                                                </div>
                                                <% } %>

                                                <% interestedApplicants.forEach(m => { %>
                                              
                                                <div class="kt-widget kt-widget--user-profile-3">
                                                    <div class="kt-widget__top">
                                                        <div class="kt-widget__media kt-hidden-">
                                                            <img src="" alt="<%=m.member.firstname%> <%=m.member.lastname%>">
                                                        </div>
                                                
                                                        <div class="kt-widget__content">
                                                            <div class="kt-widget__head">
                                                                <span href="#" rel="<%=m.member._id%>" class="kt-widget__username" >
                                                                    <%=m.member.firstname%> <%=m.member.lastname%>
                                                                    <i class="flaticon2-correct kt-font-success"></i>
                                                                </span>

                                                            </div>
                                                           
                                                
                                                        </div>
                                                    </div>
                                                
                                                </div>
                                                <hr>
                                                <% }) %>
                                                
                                               


                                            </div>
                                            <div class="col-xl-6 col-lg-6 order-lg-1 order-xl-1 hideForSmallScreen">
                                                <% interestedApplicants.forEach(m => { %>
                                               
                                                    <% if (selected !== false) {%>
                                
                                                        <div class="kt-widget__content" id="<%=m.member._id%>" style ="<%- selected.toString() === m._id.toString() ? '' : 'display: none;' %>">
                                                    <%} else {%>
                                                        
                                                        <div class="kt-widget__content" id="<%=m.member._id%>" style="padding-top: 40px;  <%- count === 1 ? '' : 'display: none;' %>">
                                                    <%}%>

                                                    <div class="kt-widget__media kt-hidden-">
                                                        <h4>Rate <%=m.member.firstname%>'s Competencies</h5>
                                                    </div>
                                                    
                                                         <!-- console.log(team.members[0].competencies[0].competency.competency) -->
                                                    <div class="kt-widget__head">
                                                        <hr>
                                                        <div class="kt-widget__head">
                                                                <form class="customLargeForm" id="formLarge<%=m.member._id%>" >
                                                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                                        <input type="hidden" name="applicantId" value="<%= m.member._id %>">
                                                                        <input type="hidden" name="teamId" value="<%=teamId%>"  >
                                                
                                                            <% allCompetencies.forEach(c=> { %>

                                                            
                                                            <!-- <h4 class="kt-portlet__head-title"> -->
                                                                <label class="kt-checkbox">
                                                                    <input type="checkbox" name="rate<%=m.member._id%><%=c._id%>" value="<%=c._id%>"> <%=c.competency[0].name%>
                                                                    <span></span>
                                                                </label>
                                                            <%})%>
                                                            <button type="submit" class="btn btn-sm btn-upper submitRating<%=m.member._id%>"  
                                                            id="submitRatingLarge<%=m.member._id%>" style="background: #516dd4; color: antiquewhite;">Submit</button>
                                                    
                                                            <button  class="btn btn-sm btn-upper confirmSubmitRating confirmSubmitRating<%=m.member._id%>" 
                                                            id="confirmSubmitRatingLarge<%=m.member._id%>" style="background: #516dd4; color: antiquewhite;">Rating Submitted</button>
                                                    
                                                        </form>
                                                        </div>
                                                    
                                                       
                                                        <hr>
                                                        <div class="kt-widget__head">
                                                            <!-- <div></div>
                                                        															<div></div> -->
                                                            <!-- <div class="kt-portlet__head-label"> -->
                                                            
                                                        </div>
                                                        <hr>
                                                    </div>

                                                    <!-- <div class="kt-widget__info">
                                                        <div class="kt-widget__desc">
                                                            <%=mission.objective%>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget__icon" style="font-size: 3rem !important;">
                                                        <i class="flaticon-facebook-logo-button"></i>
                                                        <i class="flaticon-twitter-logo-button"></i>
                                                        <i class="flaticon-linkedin"></i>
                                                        <i class="flaticon-instagram-logo"></i>

                                                    </div> -->

                                                </div>
                                                <%})%>
                                            </div>

                                        </div>

                                        
                                     


                                        <div class="kt-widget__bottom">
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-medal"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Price/Award</span>
                                                    <span
                                                        class="kt-widget__value"><span>$</span><%=mission.reward%></span>
                                                </div>
                                            </div>
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-network"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Teams</span>
                                                    <span class="kt-widget__value"><%=mission.teams.length%></span>
                                                </div>
                                            </div>
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-eye"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Views</span>
                                                    <span class="kt-widget__value"><%=mission.views%></span>
                                                </div>
                                            </div>
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-file-2"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Interested</span>
                                                    <span class="kt-widget__value"><%=mission.interested.length%></span>
                                                </div>
                                            </div>
                                            <!-- <div class="kt-widget__item">
													<div class="kt-widget__icon">
														<i class="flaticon-chat-1"></i>
													</div>
													<div class="kt-widget__details">
														<span class="kt-widget__title">648 Comments</span>
														<a href="#" class="kt-widget__value kt-font-brand">View</a>
													</div>
												</div>
												<div class="kt-widget__item">
													<div class="kt-widget__icon">
														<i class="flaticon-network"></i>
													</div>
													<div class="kt-widget__details">
														<div class="kt-section__content kt-section__content--solid">
															<div class="kt-media-group">
																<a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip"
																	data-skin="brand" data-placement="top" title="" data-original-title="John Myer">
																	<img src="assets/media/users/100_7.jpg" alt="image">
																</a>
																<a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip"
																	data-skin="brand" data-placement="top" title="" data-original-title="Alison Brandy">
																	<img src="assets/media/users/100_3.jpg" alt="image">
																</a>
																<a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip"
																	data-skin="brand" data-placement="top" title="" data-original-title="Selina Cranson">
																	<img src="assets/media/users/100_2.jpg" alt="image">
																</a>
																<a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip"
																	data-skin="brand" data-placement="top" title="" data-original-title="Luke Walls">
																	<img src="assets/media/users/100_13.jpg" alt="image">
																</a>
																<a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip"
																	data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
																	<img src="assets/media/users/100_4.jpg" alt="image">
																</a>
																<a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip"
																	data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
																	<span>+3</span>
																</a>
															</div>
														</div>
													</div>
												</div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- end:: Content -->
                    </div>
                </div>

                <!-- begin:: Footer -->
                <%- include('../includes/footer.ejs') %>


                <!-- end:: Footer -->
            </div>
        </div>
    </div>

    <!-- end:: Page -->

    <!-- begin::Quick Panel -->
    <div id="kt_quick_panel" class="kt-quick-panel">
        <a href="#" class="kt-quick-panel__close" id="kt_quick_panel_close_btn"><i class="flaticon2-delete"></i></a>
        <div class="kt-quick-panel__nav">
            <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand  kt-notification-item-padding-x"
                role="tablist">
                <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#kt_quick_panel_tab_notifications"
                        role="tab">Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_quick_panel_tab_logs" role="tab">Audit Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_quick_panel_tab_settings" role="tab">Settings</a>
                </li>
            </ul>
        </div>
        <div class="kt-quick-panel__content">
            <div class="tab-content">
                <div class="tab-pane fade show kt-scroll active" id="kt_quick_panel_tab_notifications" role="tabpanel">
                    <div class="kt-notification">
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-line-chart kt-font-success"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New order has been received
                                </div>
                                <div class="kt-notification__item-time">
                                    2 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-box-1 kt-font-brand"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New customer is registered
                                </div>
                                <div class="kt-notification__item-time">
                                    3 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-chart2 kt-font-danger"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    Application has been approved
                                </div>
                                <div class="kt-notification__item-time">
                                    3 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-image-file kt-font-warning"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New file has been uploaded
                                </div>
                                <div class="kt-notification__item-time">
                                    5 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-drop kt-font-info"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New user feedback received
                                </div>
                                <div class="kt-notification__item-time">
                                    8 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-pie-chart-2 kt-font-success"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    System reboot has been successfully completed
                                </div>
                                <div class="kt-notification__item-time">
                                    12 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-favourite kt-font-danger"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New order has been placed
                                </div>
                                <div class="kt-notification__item-time">
                                    15 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item kt-notification__item--read">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-safe kt-font-primary"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    Company meeting canceled
                                </div>
                                <div class="kt-notification__item-time">
                                    19 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-psd kt-font-success"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New report has been received
                                </div>
                                <div class="kt-notification__item-time">
                                    23 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon-download-1 kt-font-danger"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    Finance report has been generated
                                </div>
                                <div class="kt-notification__item-time">
                                    25 hrs ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon-security kt-font-warning"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New customer comment recieved
                                </div>
                                <div class="kt-notification__item-time">
                                    2 days ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-pie-chart kt-font-warning"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title">
                                    New customer is registered
                                </div>
                                <div class="kt-notification__item-time">
                                    3 days ago
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tab-pane fade kt-scroll" id="kt_quick_panel_tab_logs" role="tabpanel">
                    <div class="kt-notification-v2">
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon-bell kt-font-brand"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    5 new user generated report
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    Reports based on sales
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon2-box kt-font-danger"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    2 new items submited
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    by Grog John
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon-psd kt-font-brand"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    79 PSD files generated
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    Reports based on sales
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon2-supermarket kt-font-warning"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    $2900 worth producucts sold
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    Total 234 items
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon-paper-plane-1 kt-font-success"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    4.5h-avarage response time
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    Fostest is Barry
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon2-information kt-font-danger"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    Database server is down
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    10 mins ago
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon2-mail-1 kt-font-brand"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    System report has been generated
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    Fostest is Barry
                                </div>
                            </div>
                        </a>
                        <a href="#" class="kt-notification-v2__item">
                            <div class="kt-notification-v2__item-icon">
                                <i class="flaticon2-hangouts-logo kt-font-warning"></i>
                            </div>
                            <div class="kt-notification-v2__itek-wrapper">
                                <div class="kt-notification-v2__item-title">
                                    4.5h-avarage response time
                                </div>
                                <div class="kt-notification-v2__item-desc">
                                    Fostest is Barry
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tab-pane kt-quick-panel__content-padding-x fade kt-scroll" id="kt_quick_panel_tab_settings"
                    role="tabpanel">
                    <form class="kt-form">

                        <div class="kt-heading kt-heading--sm kt-heading--space-sm">Customer Care</div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Enable Notifications:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--success kt-switch--sm">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_1">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Enable Case Tracking:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--success kt-switch--sm">
                                    <label>
                                        <input type="checkbox" name="quick_panel_notifications_2">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-last form-group-xs row">
                            <label class="col-8 col-form-label">Support Portal:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--success kt-switch--sm">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_2">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="kt-separator kt-separator--space-md kt-separator--border-dashed"></div>
                        <div class="kt-heading kt-heading--sm kt-heading--space-sm">Reports</div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Generate Reports:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--sm kt-switch--danger">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_3">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Enable Report Export:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--sm kt-switch--danger">
                                    <label>
                                        <input type="checkbox" name="quick_panel_notifications_3">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-last form-group-xs row">
                            <label class="col-8 col-form-label">Allow Data Collection:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--sm kt-switch--danger">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_4">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="kt-separator kt-separator--space-md kt-separator--border-dashed"></div>
                        <div class="kt-heading kt-heading--sm kt-heading--space-sm">Memebers</div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Enable Member singup:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--sm kt-switch--brand">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_5">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-xs row">
                            <label class="col-8 col-form-label">Allow User Feedbacks:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--sm kt-switch--brand">
                                    <label>
                                        <input type="checkbox" name="quick_panel_notifications_5">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-group-last form-group-xs row">
                            <label class="col-8 col-form-label">Enable Customer Portal:</label>
                            <div class="col-4 kt-align-right">
                                <span class="kt-switch kt-switch--sm kt-switch--brand">
                                    <label>
                                        <input type="checkbox" checked="checked" name="quick_panel_notifications_6">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- end::Quick Panel -->

    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>

    <!-- end::Scrolltop -->

    <!-- begin::Sticky Toolbar -->
    <%- include('../includes/toolbar.ejs') %>
    <!-- end::Sticky Toolbar -->

    <!-- begin::Demo Panel -->
    <div id="kt_demo_panel" class="kt-demo-panel">
        <div class="kt-demo-panel__head">
            <h3 class="kt-demo-panel__title">
                Select A Demo

                <!--<small>5</small>-->
            </h3>
            <a href="#" class="kt-demo-panel__close" id="kt_demo_panel_close"><i class="flaticon2-delete"></i></a>
        </div>
        <div class="kt-demo-panel__body">
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 1
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo1.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo1/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo1/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 2
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo2.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo2/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo2/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 3
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo3.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo3/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo3/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item kt-demo-panel__item--active">
                <div class="kt-demo-panel__item-title">
                    Demo 4
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo4.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo4/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo4/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 5
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo5.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo5/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo5/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 6
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo6.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo6/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo6/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 7
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo7.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo7/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo7/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 8
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo8.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo8/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo8/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 9
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo9.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo9/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo9/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 10
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo10.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo10/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo10/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 11
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo11.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo11/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo11/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 12
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo12.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="https://keenthemes.com/metronic/preview/demo12/index.html"
                            class="btn btn-brand btn-elevate " target="_blank">Default</a>
                        <a href="https://keenthemes.com/metronic/preview/demo12/rtl/index.html"
                            class="btn btn-light btn-elevate" target="_blank">RTL Version</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 13
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo13.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="#" class="btn btn-brand btn-elevate disabled">Coming soon</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 14
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo14.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="#" class="btn btn-brand btn-elevate disabled">Coming soon</a>
                    </div>
                </div>
            </div>
            <div class="kt-demo-panel__item ">
                <div class="kt-demo-panel__item-title">
                    Demo 15
                </div>
                <div class="kt-demo-panel__item-preview">
                    <img src="assets/media//demos/preview/demo15.jpg" alt="" />
                    <div class="kt-demo-panel__item-preview-overlay">
                        <a href="#" class="btn btn-brand btn-elevate disabled">Coming soon</a>
                    </div>
                </div>
            </div>
            <a href="https://1.envato.market/EA4JP" target="_blank"
                class="kt-demo-panel__purchase btn btn-brand btn-elevate btn-bold btn-upper">
                Buy Metronic Now!
            </a>
        </div>
    </div>

    <!-- end::Demo Panel -->

    <!--Begin:: Chat-->
  

    <!--ENd:: Chat-->


    <%- include('../includes/scripts.ejs') %>
    <!--end::Page Scripts -->
</body>

<!-- end::Body -->

</html>
