<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.ejs') %>

<body class="page-has-left-panels page-has-right-panels">


    <!-- Preloader -->

    <div id="hellopreloader">
        <div class="preloader">
            <svg width="45" height="45" stroke="#fff">
                <g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(1 1)">
                    <circle cx="22" cy="22" r="6" stroke="none">
                        <animate attributeName="r" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite"
                            values="6;22" />
                        <animate attributeName="stroke-opacity" begin="1.5s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="1;0" />
                        <animate attributeName="stroke-width" begin="1.5s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="2;0" />
                    </circle>
                    <circle cx="22" cy="22" r="6" stroke="none">
                        <animate attributeName="r" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite"
                            values="6;22" />
                        <animate attributeName="stroke-opacity" begin="3s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="1;0" />
                        <animate attributeName="stroke-width" begin="3s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="2;0" />
                    </circle>
                    <circle cx="22" cy="22" r="8">
                        <animate attributeName="r" begin="0s" calcMode="linear" dur="1.5s" repeatCount="indefinite"
                            values="6;1;2;3;4;5;6" />
                    </circle>
                </g>
            </svg>

            <div class="text">Loading ...</div>
        </div>
    </div>

    <!-- ... end Preloader -->


    <%- include('../includes/right-menu.ejs') %>

    <%- include('../includes/header.ejs') %>


   <div class="container">
	<div class="row">

		<!-- Main Content -->

		<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
			<div id="newsfeed-items-grid">

				<div class="ui-block">
                    <div class="ui-block-title">
                        <h5 class="title">Notifications</h5>
                        <span class="notification-icon">
                            <%# <a href="#" class="accept-request1">
                                Sort by recently added
                            </a> %>
                        </span>  
                    </div>
                
                    <ul class="widget w-friend-pages-added notification-list friend-requests">
                        <% currentNotifications.forEach(m => { %>
                            <a href="#" rel="<%=m._id%>">
                                <li class="inline-items">
                                    
                                    <div class="notification-event">
                                        <% if(m.notificationType) { %>
                                            <a href="/<%=m.notificationType%>" rel="<%=m._id%>" class="h5 notification-friend"><%=m.brief%></a>
                                        <%}else{ %>
                                            <a href="#" rel="<%=m._id%>" class="h5 notification-friend"><%=m.brief%></a>
                                        <%}%>
                                        <span class="chat-message-item"> 
                                            
                                             <%=m.content %>
                                        </span>
                                        <br>
                                        <span class="chat-message-item"> <a href="#" class="accept-request1">
                                            Published: <%=moment(m.dateAdded).format("MMMM, D YYYY")%>
                                        </a></span>
                                    </div>
                                     
                                    <span class="notification-icon">
                                        <a href="#" class="accept-request">
                                            <span class="without-text">
                                               
                                            </span>
                                        </a>
                                    </span>
                                </li>
                            </a> 
                        <% }) %>
                    
                    </ul>
					
					<nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1<div class="ripple-container">
                                        <div class="ripple ripple-on ripple-out"
                                            style="left: -10.3833px; top: -16.8333px; background-color: rgb(255, 255, 255); transform: scale(16.7857);">
                                        </div>
                                    </div></a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                    
                    <div class="ui-block-title">
                        <h5 class="title">Browse Challenges</h5>
                        <span class="notification-icon" >
                             <%# <a href="#" class="accept-request1">
                                Sort by recently added
                            </a> %>
                            <a href="/missions" class="btn btn-primary btn-sm" style="float: right">Browse All Challenges</a>

                        </span>  
                    </div>

                    <ul class="widget w-friend-pages-added notification-list friend-requests">
                         <% missions.forEach(m => { %>
                            <a href="#" rel="<%=m._id%>">
                                <li class="inline-items">
                                    <div class="img-thumbnail" style="/*width: 10% !important;*/    height: 50px; width: 60px;">
                                        <img src="<%=m.company.logo%>" alt="author">
                                    </div>
                                    <div class="notification-event">
                                       <a href="#" rel="<%=m._id%>" class="h5 notification-friend"><%=m.title%></a>
                                        <span class="chat-message-item"> 
                                            
                                             <% m.categories.forEach(c => { %>
                                                    #<%=c.category.name%>
                                             <% }) %>
                                        </span>
                                        <br>
                                        <span class="chat-message-item"> <a href="#" class="accept-request1">
                                            Published: <%=moment(m.createdAt).format("MMMM, D YYYY")%>
                                        </a></span>
                                    </div>
                                     
                                    <span class="notification-icon">
                                        <a href="#" class="accept-request">
                                            <span class="without-text">
                                               <%=m.teams.length%>
                                            </span>
                                        </a>
                                    </span>
                                </li>
                            </a> 
                        <% }) %>
                    
                    </ul>
                    <hr>
                    
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1<div class="ripple-container">
                                        <div class="ripple ripple-on ripple-out"
                                            style="left: -10.3833px; top: -16.8333px; background-color: rgb(255, 255, 255); transform: scale(16.7857);">
                                        </div>
                                    </div></a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>

				</div>
			</div>

		</main>

        <!-- ... end Main Content -->
        
        <!-- Left Sidebar -->
        <aside class="col col-xl-2 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
            <%- include('../includes/side-menu.ejs') %>
        </aside>
		<!-- ... end Left Sidebar -->

		<!-- Right Sidebar -->

		<aside class="col col-xl-4 order-xl-2 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
                    <h5 class="title">Showcase (Build Portfolio)</h5>
                    
                </div>

				<!-- W-Action -->
				
				<ul class="widget w-friend-pages-added notification-list friend-requests">
				
				
                </ul>
                
				
                <!-- ... end W-Action -->

                
                <div class="ui-block-content">
                    <ul class="widget w-personal-info">
                        <li>
                            <span class="title">About Me:</span>
                            <span class="text"><%=personalDetails.about%>
                            </span>
                        </li>
                        <li>
                            <span class="title">Birthday:</span>
                            <span class="text"><%=moment(personalDetails.birthday).format("MMMM, D YYYY")%></span>
                        </li>
                        <!-- <li>
                            <span class="title">Lives in:</span>
                            <span class="text">San Francisco, California, USA</span>
                        </li> -->
                        <li>
                            <span class="title">Occupation:</span>
                            <span class="text"><%=personalDetails.occupation%></span>
                        </li>
                        <li>
                            <span class="title">Email:</span>
                            <a href="#" class="text"><%=personalDetails.email%></a>
                        </li>
                        <!-- <li>
                            <span class="title">Gender:</span>
                            <span class="text">Male</span>
                        </li>
                        <li>
                            <span class="title">Status:</span>
                            <span class="text">Married</span>
                        </li>
                        
                        <li>
                            <span class="title">Website:</span>
                            <a href="#" class="text">daydreamsagency.com</a>
                        </li>
                        <li>
                            <span class="title">Phone Number:</span>
                            <span class="text">(044) 555 - 4369 - 8957</span>
                        </li>
                        <li>
                            <span class="title">Religious Belifs:</span>
                            <span class="text">-</span>
                        </li>
                        <li>
                            <span class="title">Political Incline:</span>
                            <span class="text">Democrat</span>
                        </li> -->
                    </ul>
                </div>

                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Education</h6>
                        <span class="notification-icon" >     
                            <%if (!personalDetails.education) {%>
                                <a href="/settings/education" class="btn btn-primary btn-sm" /*data-toggle="modal" data-target="#add-education"*/ style="float: right">Add Education</a>
                            <%} else {%>
                                <a href="/settings/education" class="btn btn-primary btn-sm" style="float: right">Edit Education</a>
                            <%}%>
                        </span>  
                    </div> 
                    <%if (personalDetails.education) {%>
                        <div class="ui-block-content">
                            <!-- W-Personal-Info -->
                            <ul class="widget w-personal-info item-block">
                                <% personalDetails.education.forEach(e => { %>
                                    <li>
                                        <span class="title"><%=e.school%></span>
                                        <span class="date"><%=e.startYear%> - <%=e.endYear%></span>
                                    </li>
                                <% }) %>
                            </ul>
                            <!-- ... end W-Personal-Info -->
                        </div>
                    <%} else {%>
                        <div class="ui-block-content">

                        Kindly update your Education History
                        </div>
                    <%}%>
                </div>

                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Work Experience</h6>
                        <span class="notification-icon" >     
                            <%if (!personalDetails.work) {%>
                                <a href="/settings/work" class="btn btn-primary btn-sm" style="float: right">Add Work History</a>
                            <%} else {%>
                                <a href="/settings/work" class="btn btn-primary btn-sm" style="float: right">Edit Work History</a>
                            <%}%>
                        </span>  
                    </div>
                    <%if (personalDetails.work) {%>
                        <div class="ui-block-content">
                            <!-- W-Personal-Info -->
                            <ul class="widget w-personal-info item-block">
                                <% personalDetails.work.forEach(w => { %>
                                    <li>
                                        <span class="title"><%=w.employer%></span>
                                        <span class="title"><%=w.role%></span>
                                        <span class="date"><%=w.startYear%>-<%=w.endYear%></span>
                                        <span class="text"><%=w.description%></span>
                                    </li>
                                <% }) %>
                            </ul>
                            <!-- ... end W-Personal-Info -->
                           
                        </div>
                    <%} else {%>
                        <div class="ui-block-content">

                        Kindly update your Work History
                        </div>
                    <%}%>
                    
                </div>

                <!-- 
                    <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Skills</h6>
                    </div>
                    <div class="ui-block-content">
                        <button type="button" class="btn btn-secondary">
                            PHP
                        </button>
                        <button type="button" class="btn btn-secondary">
                            Laravel
                        </button>
                        <button type="button" class="btn btn-secondary">
                            Programming
                        </button>
                        <button type="button" class="btn btn-secondary">
                            Excel
                        </button>
                        <button type="button" class="btn btn-secondary">
                            Node.js
                        </button>
                        <button type="button" class="btn btn-secondary">
                            C#
                        </button>
                        <button type="button" class="btn btn-secondary">
                            Data Analysis
                        </button>
                    </div>
                </div>
                -->
            
			</div>


		</aside>

		<!-- ... end Right Sidebar -->

	</div>
</div>


    <!-- Window-popup-CHAT for responsive min-width: 768px -->

    <div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog"
        aria-labelledby="popup-chat-responsive" aria-hidden="true">

        <div class="modal-content">
            <div class="modal-header">
                <span class="icon-status online"></span>
                <h6 class="title">Chat</h6>
                <div class="more">
                    <svg class="olymp-three-dots-icon">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                    </svg>
                    <svg class="olymp-little-delete js-chat-open">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                    </svg>
                </div>
            </div>
            <div class="modal-body">
                <div class="mCustomScrollbar">
                    <ul class="notification-list chat-message chat-message-field">
                        <li>
                            <div class="author-thumb">
                                <img src="img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow!
                                    I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
                                <span class="notification-date"><time class="entry-date updated"
                                        datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="img/author-page.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Don’t worry Mathilda!</span>
                                <span class="chat-message-item">I already bought everything</span>
                                <span class="notification-date"><time class="entry-date updated"
                                        datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow!
                                    I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
                                <span class="notification-date"><time class="entry-date updated"
                                        datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>
                    </ul>
                </div>

                <form class="need-validation">

                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Press enter to post...</label>
                        <textarea class="form-control" placeholder=""></textarea>
                        <div class="add-options-message">
                            <a href="#" class="options-message">
                                <svg class="olymp-computer-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
                                </svg>
                            </a>
                            <div class="options-message smile-block">

                                <svg class="olymp-happy-sticker-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use>
                                </svg>

                                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat1.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat2.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat3.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat4.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat5.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat6.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat7.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat8.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat9.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat10.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat11.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat12.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat13.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat14.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat15.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat16.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat17.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat18.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat19.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat20.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat21.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat22.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat23.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat24.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat25.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat26.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat27.png" alt="icon">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <!-- ... end Window-popup-CHAT for responsive min-width: 768px -->
   
    <%- include('../includes/modal.ejs') %>

    <%- include('../includes/scripts.ejs') %>

   
</body>

</html> 