<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.ejs') %>

<body class="page-has-left-panels page-has-right-panels">


    <!-- Preloader -->

    <div id="hellopreloader">
        <div class="preloader">
            <svg width="45" height="45" stroke="#fff">
                <g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(1 1)">
                    <circle cx="22" cy="22" r="6" stroke="none">
                        <animate attributeName="r" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite"
                            values="6;22" />
                        <animate attributeName="stroke-opacity" begin="1.5s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="1;0" />
                        <animate attributeName="stroke-width" begin="1.5s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="2;0" />
                    </circle>
                    <circle cx="22" cy="22" r="6" stroke="none">
                        <animate attributeName="r" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite"
                            values="6;22" />
                        <animate attributeName="stroke-opacity" begin="3s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="1;0" />
                        <animate attributeName="stroke-width" begin="3s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="2;0" />
                    </circle>
                    <circle cx="22" cy="22" r="8">
                        <animate attributeName="r" begin="0s" calcMode="linear" dur="1.5s" repeatCount="indefinite"
                            values="6;1;2;3;4;5;6" />
                    </circle>
                </g>
            </svg>

            <div class="text">Loading ...</div>
        </div>
    </div>

    <!-- ... end Preloader -->


    <%- include('../includes/right-menu.ejs') %>

    <%- include('../includes/header.ejs') %>


   <div class="container">
	<div class="row">

		<!-- Main Content -->

		<main class="col col-xl-7 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
			<div id="newsfeed-items-grid">

				<div class="ui-block">
                    <div class="ui-block-title">
                    
                        <h5 class="title"><%=team.name%></h5>
                        
                        
                        <span class="notification-icon">
                            <%# <a href="#" class="accept-request1">
                                Sort by recently added
                            </a> %>
                        </span>  
                    </div>
                    <div class="help-main-topic" style="padding: 30px;">
                        <% if (successMessage) { %>
                            <div class="alert alert-success" role="alert" style="text-align: center">
                                <%=successMessage%>
                            </div>
                        <% } %>
                        <ul class="widget w-friend-pages-added notification-list friend-requests">
                            <article class="hentry blog-post blog-post-v3">
                                        
                                <div class="post-thumb" style="width: 30%">
                                    <img src="<%=mission.company.logo%>" alt="photo">
                                </div>
                            
                                <div class="post-content" style="width: 70%">
                                    
                                    <a href="#" class="h4 post-title"><%=mission.title%></a>
                                    
                                     

                                    <!-- <p>Here’s a photo from last month’s photoshoot. We had a lot of fun doing it and got really
                                        awesome shots for the new summer catalog.
                                    </p> -->

                            
                                </div>
                            
                            </article>
                            <br>
                            <h4 class="title">Required Roles</h4>
                                <% mission.jobroles.forEach(j => { %>
                                <button type="button" class="btn btn-primary">
                                    #<%=j.jobrole.name%>
                                </button>
                            <% }) %>
                            <h4 class="title">Categories</h4>
                            <% mission.categories.forEach(c => { %>
                                <button type="button" class="btn btn-secondary">
                                    #<%=c.category.name%>
                                </button>
                            <% }) %>
                            <h4 class="title">Report</h4>
                                        
                            <%=team.missionReport%>    
                        </ul>
                    </div>
			
				</div>
			</div>

		</main>

        <!-- ... end Main Content -->
        
        <!-- Left Sidebar -->
        <aside class="col col-xl-2 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
            <%- include('../includes/side-menu.ejs') %>
        </aside>

		<!-- ... end Left Sidebar -->

		<!-- Right Sidebar -->

		<aside class="col col-xl-3 order-xl-2 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
                    <h5 class="title">Members</h5>
                </div>

				<ul class="widget w-friend-pages-added notification-list friend-requests">
                    <% team.members.forEach(m => { %>
                        <li class="inline-items">
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend"><%=m.member.firstname %> <%=m.member.lastname %></a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                           
                        </li>
                    <% }) %>	
				</ul>
				
                <!-- ... end W-Action -->
                <div class="p-4">
                <button type="button" class="btn btn-secondary">Add members</button>
                </div>
            </div>
         

            <div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Member Request</h6>
				</div>
				<!-- W-Action -->
				
				<ul class="widget w-friend-pages-added notification-list friend-requests">
                    <% team.newMemberRequests.forEach(m => { %>
                        <li class="inline-items">
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend"><%=m.member.firstname %> <%=m.member.lastname %></a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            
                            <span class="notification-icon">
                                <a href="/teams/<%=team._id%>/<%=m.member._id%>/approve" class="accept-request" data-toggle="modal" data-target="#<%=m.member._id %>">
                                    <span class="icon-add without-text">
                                        <svg class="olymp-happy-face-icon"><use xlink:href="../../../svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                                    </span>
                                </a>
                            </span>
                        </li>
                    <% }) %>	
				</ul>
				
				<!-- ... end W-Action -->
			</div>


		</aside>

		<!-- ... end Right Sidebar -->

	</div>
</div>


    <!-- Window-popup-CHAT for responsive min-width: 768px -->

    <div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog"
        aria-labelledby="popup-chat-responsive" aria-hidden="true">

        <div class="modal-content">
            <div class="modal-header">
                <span class="icon-status online"></span>
                <h6 class="title">Chat</h6>
                <div class="more">
                    <svg class="olymp-three-dots-icon">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                    </svg>
                    <svg class="olymp-little-delete js-chat-open">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                    </svg>
                </div>
            </div>
            <div class="modal-body">
                <div class="mCustomScrollbar">
                    <ul class="notification-list chat-message chat-message-field">
                        <li>
                            <div class="author-thumb">
                                <img src="img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow!
                                    I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
                                <span class="notification-date"><time class="entry-date updated"
                                        datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="img/author-page.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Don’t worry Mathilda!</span>
                                <span class="chat-message-item">I already bought everything</span>
                                <span class="notification-date"><time class="entry-date updated"
                                        datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow!
                                    I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
                                <span class="notification-date"><time class="entry-date updated"
                                        datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>
                    </ul>
                </div>

                <form class="need-validation">

                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Press enter to post...</label>
                        <textarea class="form-control" placeholder=""></textarea>
                        <div class="add-options-message">
                            <a href="#" class="options-message">
                                <svg class="olymp-computer-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
                                </svg>
                            </a>
                            <div class="options-message smile-block">

                                <svg class="olymp-happy-sticker-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use>
                                </svg>

                                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat1.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat2.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat3.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat4.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat5.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat6.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat7.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat8.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat9.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat10.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat11.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat12.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat13.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat14.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat15.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat16.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat17.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat18.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat19.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat20.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat21.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat22.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat23.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat24.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat25.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat26.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat27.png" alt="icon">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <!-- ... end Window-popup-CHAT for responsive min-width: 768px -->

    <%- include('../includes/friend-request-modal.ejs') %>

    <%- include('../includes/scripts.ejs') %>

</body>

</html>