
<%- include('../includes/head.ejs') %>
<body class="landing-page">


    <!-- Preloader -->

    <div id="hellopreloader">
        <div class="preloader">
            <svg width="45" height="45" stroke="#fff">
                <g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(1 1)">
                    <circle cx="22" cy="22" r="6" stroke="none">
                        <animate attributeName="r" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite"
                            values="6;22" />
                        <animate attributeName="stroke-opacity" begin="1.5s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="1;0" />
                        <animate attributeName="stroke-width" begin="1.5s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="2;0" />
                    </circle>
                    <circle cx="22" cy="22" r="6" stroke="none">
                        <animate attributeName="r" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite"
                            values="6;22" />
                        <animate attributeName="stroke-opacity" begin="3s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="1;0" />
                        <animate attributeName="stroke-width" begin="3s" calcMode="linear" dur="3s"
                            repeatCount="indefinite" values="2;0" />
                    </circle>
                    <circle cx="22" cy="22" r="8">
                        <animate attributeName="r" begin="0s" calcMode="linear" dur="1.5s" repeatCount="indefinite"
                            values="6;1;2;3;4;5;6" />
                    </circle>
                </g>
            </svg>

            <div class="text">Loading ...</div>
        </div>
    </div>

    <!-- ... end Preloader -->
    <div class="content-bg-wrap"></div>


    <!-- Header Standard Landing  -->

   <div class="header--standard header--standard-landing" id="header--standard">
        <div class="container">
            <div class="header--standard-wrap">

                <a href="#" class="logo">
                    <div class="img-wrap">
                        <img src="img/qiesto_logo.png" alt="Qiesto">
                        <img src="img/qiesto_logo_dark.png" alt="qiesto" class="logo-colored">
                    </div>
                    <%# <div class="title-block">
                        <h6 class="logo-title">olympus</h6>
                        <div class="sub-title">SOCIAL NETWORK</div>
                    </div> %>
                </a>

                <%# <a href="#" class="open-responsive-menu js-open-responsive-menu">
                    <svg class="olymp-menu-icon">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                    </svg>
                </a>

                <div class="nav nav-pills nav1 header-menu">
                    <div class="mCustomScrollbar">
                        <ul>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
                                    href="#" role="button" aria-haspopup="false" aria-expanded="false"
                                    tabindex='1'>Profile</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Profile Page</a>
                                    <a class="dropdown-item" href="#">Newsfeed</a>
                                    <a class="dropdown-item" href="#">Post Versions</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown dropdown-has-megamenu">
                                <a href="#" class="nav-link dropdown-toggle" data-hover="dropdown"
                                    data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false"
                                    tabindex='1'>Forums</a>
                                <div class="dropdown-menu megamenu">
                                    <div class="row">
                                        <div class="col col-sm-3">
                                            <h6 class="column-tittle">Main Links</h6>
                                            <a class="dropdown-item" href="#">Profile Page<span
                                                    class="tag-label bg-blue-light">new</span></a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                        </div>
                                        <div class="col col-sm-3">
                                            <h6 class="column-tittle">BuddyPress</h6>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page<span
                                                    class="tag-label bg-primary">HOT!</span></a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                        </div>
                                        <div class="col col-sm-3">
                                            <h6 class="column-tittle">Corporate</h6>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                        </div>
                                        <div class="col col-sm-3">
                                            <h6 class="column-tittle">Forums</h6>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                            <a class="dropdown-item" href="#">Profile Page</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Terms & Conditions</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Events</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Privacy Policy</a>
                            </li>
                            <li class="close-responsive-menu js-close-responsive-menu">
                                <svg class="olymp-close-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                                </svg>
                            </li>
                            <li class="nav-item js-expanded-menu">
                                <a href="#" class="nav-link">
                                    <svg class="olymp-menu-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                                    </svg>
                                    <svg class="olymp-close-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                                    </svg>
                                </a>
                            </li>
                        

                            <li class="menu-search-item">
                                <a href="#" class="nav-link" data-toggle="modal" data-target="#main-popup-search">
                                    <svg class="olymp-magnifying-glass-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> %>
            </div>
        </div>
    </div>

    <!-- ... end Header Standard Landing  -->
    <div class="header-spacer--standard"></div>

    <div class="container">
        <div class="row display-flex">
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="landing-content">
                    <h1>Welcome to the Biggest Social Network in the World</h1>
                    <p>We are the best and biggest social network with 5 billion active users all around the world.
                        Share you
                        thoughts, write blog posts, show your favourite music via Stopify, earn badges and much more!
                    </p>
                    <a href="/signup" class="btn btn-md btn-border c-white">Register Now!</a>
                </div>
            </div>

            <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">

                <!-- Login-Registration Form  -->

                <div class="registration-login-form">
                   
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile" role="tabpanel" data-mh="log-tab">
                                <% if (successMessage) { %>
                                    <div class="alert alert-success" role="alert" style="text-align: center">
                                        <%=successMessage%>
                                    </div>
                                    <% } %>
                            <div class="title h6">Welcome back <%=applicantName%>, <br>Please input your new password</div>
                            <form class="content" action="/new-password" method="POST">
                    
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">      
                                <input type="hidden" name="applicantId" value="<%= applicantId %>">
                                <input type="hidden" name="applicantName" value="<%= applicantName %>">                                                                                                                    
                                <div class="row">
                                       
                                    <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Password</label>
                                            <input name="password" class="form-control <%-validationErrors? (validationErrors.find(e => e.param === 'password') ? 'invalid' : '') : ''%>"
                                            type="password" 
                                            name="password" 
                                            value="<%= oldInput? oldInput.password : ''%>">
                                            <p class="text-warning"><%=validationErrors? (validationErrors.find(e=>e.param === 'password')? 'Please enter a password that is more than 5 characters' : '' ) : ''%></p>
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Confirm Password</label>
                                            <input class="form-control <%-validationErrors? (validationErrors.find(e => e.param === 'confirm_password') ? 'invalid' : ' ') : ''%>"
                                            type="password" 
                                            name="confirm_password" 
                                            value="<%= oldInput? oldInput.confirm_password : '' %>">
                                            <p class="text-warning"></p><%-validationErrors? (validationErrors.find(e=>e.param === 'confirm_password')? 'Passwords do not match' : '') : '' %></p>
                                        </div>

                                        
                                        <button type="submit" class="btn btn-lg btn-primary full-width">Update </button>

                                        <%# <div class="or"></div> %>

                                        <%# <a href="#" class="btn btn-lg bg-facebook full-width btn-icon-left"><i
                                                class="fab fa-facebook-f" aria-hidden="true"></i>Login with Facebook</a>

                                        <a href="#" class="btn btn-lg bg-twitter full-width btn-icon-left"><i
                                                class="fab fa-twitter" aria-hidden="true"></i>Login with Twitter</a> %>


                                        <p>Don’t you have an account? <a href="/signup">Register Now!</a> it’s really simple
                                            and you can start enjoing all the benefits!</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- ... end Login-Registration Form  -->
            </div>
        </div>
    </div>

    <!-- Window-popup Restore Password -->

    <div class="modal fade" id="restore-password" tabindex="-1" role="dialog" aria-labelledby="restore-password"
        aria-hidden="true">
        <div class="modal-dialog window-popup restore-password-popup" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                    </svg>
                </a>

                <div class="modal-header">
                    <h6 class="title">Restore your Password</h6>
                </div>

                <div class="modal-body">
                    <form  method="POST" action="/reset">
                     <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <p>Enter your email and click the send code button. You’ll receive a code in your email. Please
                            use that
                            code below to change the old password for a new one.
                        </p>
                        <div class="form-group label-floating">
                            <label class="control-label">Your Email</label>
                            <input name="email" class="form-control" placeholder="" type="email" >
                        </div>
                        <button type="submit" class="btn btn-purple btn-lg full-width">Send me the Code</button>
                        <!-- <div class="form-group label-floating">
                            <label class="control-label">Enter the Code</label>
                            <input class="form-control" placeholder="" type="text" value="">
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Your New Password</label>
                            <input class="form-control" placeholder="" type="password" value="olympus">
                        </div>
                        <button class="btn btn-primary btn-lg full-width">Change your Password!</button> -->
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- ... end Window-popup Restore Password -->


    <!-- Window Popup Main Search -->

    <div class="modal fade" id="main-popup-search" tabindex="-1" role="dialog" aria-labelledby="main-popup-search"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered window-popup main-popup-search" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                    </svg>
                </a>
                <div class="modal-body">
                    <form class="form-inline search-form" method="post">
                        <div class="form-group label-floating">
                            <label class="control-label">What are you looking for?</label>
                            <input class="form-control bg-white" placeholder="" type="text" value="">
                        </div>

                        <button class="btn btn-purple btn-lg">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ... end Window Popup Main Search -->

    <%- include('../includes/scripts.ejs') %>
</body>

</html>