<!-- Faqs Popup -->

<% team.newMemberRequests.forEach(m => { %>
	<div class="modal fade" id="<%=m.member._id%>" tabindex="-1" role="dialog" aria-labelledby="faqs-popup" aria-hidden="true">
		<div class="modal-dialog window-popup faqs-popup" role="document">
			<div class="modal-content">
				<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
					<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
				</a>
				<div class="modal-header">
					<h5 class="title">Member Request Application ueirheihu ei</h5>
				</div>
				<div class="help-main-topic" style="padding: 30px;">
							<ul class="widget w-friend-pages-added notification-list friend-requests">
									<div class="post-content" style="width: 100%">
										<%=m%>
										<a href="#" class="h4 post-title"><%=m.member.firstname%> <%=m.member.lastname%></a>
										

										<!-- <p>Here’s a photo from last month’s photoshoot. We had a lot of fun doing it and got really
											awesome shots for the new summer catalog.
										</p> -->

								
									</div>
								
								<br>
								<h4 class="title">Competencies</h4>
									<button type="button" class="btn btn-secondary">
										#Programming
									</button>
									
									<div class="row">
										<div class="col col-lg-12 col-md-12 col-sm-12 col-12">
												<hr>
										<a href="/teams/<%=team._id%>/<%=m.member._id%>/approve" class="accept-request btn btn-md btn-primary">
											Approve
										</a>
										
									</div>
									</div>
									


							
							</ul>
						</div>
			</div>
		</div>
	</div>
<% }) %>	


<!-- ... end Faqs Popup -->

