<!-- Fixed Sidebar Right -->

    <%# <div class="fixed-sidebar right">
        <div class="fixed-sidebar-right sidebar--small" id="sidebar-right">

            <div class="mCustomScrollbar" data-mcs-theme="dark">
                <ul class="chat-users">
                    <li class="inline-items js-chat-open">
                        <div class="author-thumb">
                            <img alt="author" src="img/avatar67-sm.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>
                    </li>
                    <li class="inline-items js-chat-open">
                        <div class="author-thumb">
                            <img alt="author" src="img/avatar62-sm.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>
                    </li>

                    <li class="inline-items js-chat-open">
                        <div class="author-thumb">
                            <img alt="author" src="img/avatar68-sm.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>
                    </li>

                    <li class="inline-items js-chat-open">
                        <div class="author-thumb">
                            <img alt="author" src="img/avatar69-sm.jpg" class="avatar">
                            <span class="icon-status away"></span>
                        </div>
                    </li>

                    <li class="inline-items js-chat-open">
                        <div class="author-thumb">
                            <img alt="author" src="img/avatar70-sm.jpg" class="avatar">
                            <span class="icon-status disconected"></span>
                        </div>
                    </li>
                    <li class="inline-items js-chat-open">
                        <div class="author-thumb">
                            <img alt="author" src="img/avatar64-sm.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>
                    </li>
                    <li class="inline-items js-chat-open">
                        <div class="author-thumb">
                            <img alt="author" src="img/avatar71-sm.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>
                    </li>
                    <li class="inline-items js-chat-open">
                        <div class="author-thumb">
                            <img alt="author" src="img/avatar72-sm.jpg" class="avatar">
                            <span class="icon-status away"></span>
                        </div>
                    </li>
                    <li class="inline-items js-chat-open">
                        <div class="author-thumb">
                            <img alt="author" src="img/avatar63-sm.jpg" class="avatar">
                            <span class="icon-status status-invisible"></span>
                        </div>
                    </li>
                    <li class="inline-items js-chat-open">
                        <div class="author-thumb">
                            <img alt="author" src="img/avatar72-sm.jpg" class="avatar">
                            <span class="icon-status away"></span>
                        </div>
                    </li>
                    <li class="inline-items js-chat-open">

                        <div class="author-thumb">
                            <img alt="author" src="img/avatar71-sm.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="search-friend inline-items">
                <a href="#" class="js-sidebar-open">
                    <svg class="olymp-menu-icon">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                    </svg>
                </a>
            </div>

            <a href="#" class="olympus-chat inline-items js-chat-open">
                <svg class="olymp-chat---messages-icon">
                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
                </svg>
            </a>

        </div>

        <div class="fixed-sidebar-right sidebar--large" id="sidebar-right-1">

            <div class="mCustomScrollbar" data-mcs-theme="dark">

                <div class="ui-block-title ui-block-title-small">
                    <a href="#" class="title">Close Friends</a>
                    <a href="#">Settings</a>
                </div>

                <ul class="chat-users">
                    <li class="inline-items js-chat-open">

                        <div class="author-thumb">
                            <img alt="author" src="img/avatar67-sm.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>

                        <div class="author-status">
                            <a href="#" class="h6 author-name">Carol Summers</a>
                            <span class="status">ONLINE</span>
                        </div>

                        <div class="more"><svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>

                            <ul class="more-icons">
                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="START CONVERSATION" class="olymp-comments-post-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="ADD TO CONVERSATION"
                                        class="olymp-add-to-conversation-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon">
                                        </use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                                    </svg>
                                </li>
                            </ul>

                        </div>

                    </li>
                    <li class="inline-items js-chat-open">

                        <div class="author-thumb">
                            <img alt="author" src="img/avatar62-sm.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>

                        <div class="author-status">
                            <a href="#" class="h6 author-name">Mathilda Brinker</a>
                            <span class="status">AT WORK!</span>
                        </div>

                        <div class="more"><svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>

                            <ul class="more-icons">
                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="START CONVERSATION" class="olymp-comments-post-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="ADD TO CONVERSATION"
                                        class="olymp-add-to-conversation-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon">
                                        </use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                                    </svg>
                                </li>
                            </ul>

                        </div>

                    </li>

                    <li class="inline-items js-chat-open">


                        <div class="author-thumb">
                            <img alt="author" src="img/avatar68-sm.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>

                        <div class="author-status">
                            <a href="#" class="h6 author-name">Carol Summers</a>
                            <span class="status">ONLINE</span>
                        </div>

                        <div class="more"><svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>

                            <ul class="more-icons">
                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="START CONVERSATION" class="olymp-comments-post-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="ADD TO CONVERSATION"
                                        class="olymp-add-to-conversation-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon">
                                        </use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                                    </svg>
                                </li>
                            </ul>

                        </div>


                    </li>

                    <li class="inline-items js-chat-open">


                        <div class="author-thumb">
                            <img alt="author" src="img/avatar69-sm.jpg" class="avatar">
                            <span class="icon-status away"></span>
                        </div>

                        <div class="author-status">
                            <a href="#" class="h6 author-name">Michael Maximoff</a>
                            <span class="status">AWAY</span>
                        </div>

                        <div class="more"><svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>

                            <ul class="more-icons">
                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="START CONVERSATION" class="olymp-comments-post-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="ADD TO CONVERSATION"
                                        class="olymp-add-to-conversation-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon">
                                        </use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                                    </svg>
                                </li>
                            </ul>

                        </div>


                    </li>

                    <li class="inline-items js-chat-open">


                        <div class="author-thumb">
                            <img alt="author" src="img/avatar70-sm.jpg" class="avatar">
                            <span class="icon-status disconected"></span>
                        </div>

                        <div class="author-status">
                            <a href="#" class="h6 author-name">Rachel Howlett</a>
                            <span class="status">OFFLINE</span>
                        </div>

                        <div class="more"><svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>

                            <ul class="more-icons">
                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="START CONVERSATION" class="olymp-comments-post-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="ADD TO CONVERSATION"
                                        class="olymp-add-to-conversation-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon">
                                        </use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                                    </svg>
                                </li>
                            </ul>

                        </div>


                    </li>
                </ul>


                <div class="ui-block-title ui-block-title-small">
                    <a href="#" class="title">MY FAMILY</a>
                    <a href="#">Settings</a>
                </div>

                <ul class="chat-users">
                    <li class="inline-items js-chat-open">

                        <div class="author-thumb">
                            <img alt="author" src="img/avatar64-sm.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>

                        <div class="author-status">
                            <a href="#" class="h6 author-name">Sarah Hetfield</a>
                            <span class="status">ONLINE</span>
                        </div>

                        <div class="more"><svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>

                            <ul class="more-icons">
                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="START CONVERSATION" class="olymp-comments-post-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="ADD TO CONVERSATION"
                                        class="olymp-add-to-conversation-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon">
                                        </use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                                    </svg>
                                </li>
                            </ul>

                        </div>
                    </li>
                </ul>


                <div class="ui-block-title ui-block-title-small">
                    <a href="#" class="title">UNCATEGORIZED</a>
                    <a href="#">Settings</a>
                </div>

                <ul class="chat-users">
                    <li class="inline-items js-chat-open">

                        <div class="author-thumb">
                            <img alt="author" src="img/avatar71-sm.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>

                        <div class="author-status">
                            <a href="#" class="h6 author-name">Bruce Peterson</a>
                            <span class="status">ONLINE</span>
                        </div>

                        <div class="more"><svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>

                            <ul class="more-icons">
                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="START CONVERSATION" class="olymp-comments-post-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="ADD TO CONVERSATION"
                                        class="olymp-add-to-conversation-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon">
                                        </use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                                    </svg>
                                </li>
                            </ul>

                        </div>


                    </li>
                    <li class="inline-items js-chat-open">

                        <div class="author-thumb">
                            <img alt="author" src="img/avatar72-sm.jpg" class="avatar">
                            <span class="icon-status away"></span>
                        </div>

                        <div class="author-status">
                            <a href="#" class="h6 author-name">Chris Greyson</a>
                            <span class="status">AWAY</span>
                        </div>

                        <div class="more"><svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>

                            <ul class="more-icons">
                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="START CONVERSATION" class="olymp-comments-post-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="ADD TO CONVERSATION"
                                        class="olymp-add-to-conversation-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon">
                                        </use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                                    </svg>
                                </li>
                            </ul>

                        </div>

                    </li>
                    <li class="inline-items js-chat-open">

                        <div class="author-thumb">
                            <img alt="author" src="img/avatar63-sm.jpg" class="avatar">
                            <span class="icon-status status-invisible"></span>
                        </div>

                        <div class="author-status">
                            <a href="#" class="h6 author-name">Nicholas Grisom</a>
                            <span class="status">INVISIBLE</span>
                        </div>

                        <div class="more"><svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>

                            <ul class="more-icons">
                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="START CONVERSATION" class="olymp-comments-post-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="ADD TO CONVERSATION"
                                        class="olymp-add-to-conversation-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon">
                                        </use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                                    </svg>
                                </li>
                            </ul>

                        </div>
                    </li>
                    <li class="inline-items js-chat-open">

                        <div class="author-thumb">
                            <img alt="author" src="img/avatar72-sm.jpg" class="avatar">
                            <span class="icon-status away"></span>
                        </div>

                        <div class="author-status">
                            <a href="#" class="h6 author-name">Chris Greyson</a>
                            <span class="status">AWAY</span>
                        </div>

                        <div class="more"><svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>

                            <ul class="more-icons">
                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="START CONVERSATION" class="olymp-comments-post-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="ADD TO CONVERSATION"
                                        class="olymp-add-to-conversation-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon">
                                        </use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                                    </svg>
                                </li>
                            </ul>

                        </div>
                    </li>
                    <li class="inline-items js-chat-open">

                        <div class="author-thumb">
                            <img alt="author" src="img/avatar71-sm.jpg" class="avatar">
                            <span class="icon-status online"></span>
                        </div>

                        <div class="author-status">
                            <a href="#" class="h6 author-name">Bruce Peterson</a>
                            <span class="status">ONLINE</span>
                        </div>

                        <div class="more"><svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>

                            <ul class="more-icons">
                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="START CONVERSATION" class="olymp-comments-post-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="ADD TO CONVERSATION"
                                        class="olymp-add-to-conversation-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon">
                                        </use>
                                    </svg>
                                </li>

                                <li>
                                    <svg data-toggle="tooltip" data-placement="top"
                                        data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                                    </svg>
                                </li>
                            </ul>

                        </div>
                    </li>
                </ul>

            </div>

            <div class="search-friend inline-items">
                <form class="form-group">
                    <input class="form-control" placeholder="Search Friends..." value="" type="text">
                </form>

                <a href="29-YourAccount-AccountSettings.html" class="settings">
                    <svg class="olymp-settings-icon">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use>
                    </svg>
                </a>

                <a href="#" class="js-sidebar-open">
                    <svg class="olymp-close-icon">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                    </svg>
                </a>
            </div>

            <a href="#" class="olympus-chat inline-items js-chat-open">

                <h6 class="olympus-chat-title">OLYMPUS CHAT</h6>
                <svg class="olymp-chat---messages-icon">
                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
                </svg>
            </a>

        </div>
    </div> %>

    <!-- ... end Fixed Sidebar Right -->


    <!-- Fixed Sidebar Right-Responsive -->

    <div class="fixed-sidebar right fixed-sidebar-responsive">

        <div class="fixed-sidebar-right sidebar--small" id="sidebar-right-responsive">

            <a href="#" class="olympus-chat inline-items js-chat-open">
                <svg class="olymp-chat---messages-icon">
                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
                </svg>
            </a>

        </div>

    </div>

    <!-- ... end Fixed Sidebar Right-Responsive -->