<!-- begin::Global Config(global config for global JS sciprts) -->
<script>
   var KTAppOptions = {
      "colors": {
         "state": {
            "brand": "#366cf3",
            "light": "#ffffff",
            "dark": "#282a3c",
            "primary": "#5867dd",
            "success": "#34bfa3",
            "info": "#36a3f7",
            "warning": "#ffb822",
            "danger": "#fd3995"
         },
         "base": {
            "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
            "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
         }
      }
   };
</script>

<!-- end::Global Config -->

<!--begin::Global Theme Bundle(used by all pages) -->

<!--begin:: Vendor Plugins -->
<script src="assets/plugins/general/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="assets/plugins/general/popper.js/dist/umd/popper.js" type="text/javascript"></script>
<script src="assets/plugins/general/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/plugins/general/js-cookie/src/js.cookie.js" type="text/javascript"></script>
<script src="assets/plugins/general/moment/min/moment.min.js" type="text/javascript"></script>
<script src="assets/plugins/general/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
<script src="assets/plugins/general/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
<script src="assets/plugins/general/sticky-js/dist/sticky.min.js" type="text/javascript"></script>
<script src="assets/plugins/general/wnumb/wNumb.js" type="text/javascript"></script>
<script src="assets/plugins/general/jquery-form/dist/jquery.form.min.js" type="text/javascript"></script>
<script src="assets/plugins/general/block-ui/jquery.blockUI.js" type="text/javascript"></script>
<script src="assets/plugins/general/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/general/js/global/integration/plugins/bootstrap-datepicker.init.js"
   type="text/javascript"></script>
<script src="assets/plugins/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/general/js/global/integration/plugins/bootstrap-timepicker.init.js"
   type="text/javascript"></script>
<script src="assets/plugins/general/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script src="assets/plugins/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js"
   type="text/javascript"></script>
<script src="assets/plugins/general/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
<script src="assets/plugins/general/plugins/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/general/bootstrap-select/dist/js/bootstrap-select.js" type="text/javascript"></script>
<script src="assets/plugins/general/bootstrap-switch/dist/js/bootstrap-switch.js" type="text/javascript"></script>
<script src="assets/plugins/general/js/global/integration/plugins/bootstrap-switch.init.js"
   type="text/javascript"></script>
<script src="assets/plugins/general/select2/dist/js/select2.full.js" type="text/javascript"></script>
<script src="assets/plugins/general/ion-rangeslider/js/ion.rangeSlider.js" type="text/javascript"></script>
<script src="assets/plugins/general/typeahead.js/dist/typeahead.bundle.js" type="text/javascript"></script>
<script src="assets/plugins/general/handlebars/dist/handlebars.js" type="text/javascript"></script>
<script src="assets/plugins/general/inputmask/dist/jquery.inputmask.bundle.js" type="text/javascript"></script>
<script src="assets/plugins/general/inputmask/dist/inputmask/inputmask.date.extensions.js"
   type="text/javascript"></script>
<script src="assets/plugins/general/inputmask/dist/inputmask/inputmask.numeric.extensions.js"
   type="text/javascript"></script>
<script src="assets/plugins/general/nouislider/distribute/nouislider.js" type="text/javascript"></script>
<script src="assets/plugins/general/owl.carousel/dist/owl.carousel.js" type="text/javascript"></script>
<script src="assets/plugins/general/autosize/dist/autosize.js" type="text/javascript"></script>
<script src="assets/plugins/general/clipboard/dist/clipboard.min.js" type="text/javascript"></script>
<script src="assets/plugins/general/dropzone/dist/dropzone.js" type="text/javascript"></script>
<script src="assets/plugins/general/js/global/integration/plugins/dropzone.init.js" type="text/javascript"></script>
<script src="assets/plugins/general/quill/dist/quill.js" type="text/javascript"></script>
<script src="assets/plugins/general/@yaireo/tagify/dist/tagify.polyfills.min.js" type="text/javascript"></script>
<script src="assets/plugins/general/@yaireo/tagify/dist/tagify.min.js" type="text/javascript"></script>
<script src="assets/plugins/general/summernote/dist/summernote.js" type="text/javascript"></script>
<script src="assets/plugins/general/markdown/lib/markdown.js" type="text/javascript"></script>
<script src="assets/plugins/general/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
<script src="assets/plugins/general/js/global/integration/plugins/bootstrap-markdown.init.js"
   type="text/javascript"></script>
<script src="assets/plugins/general/bootstrap-notify/bootstrap-notify.min.js" type="text/javascript"></script>
<script src="assets/plugins/general/js/global/integration/plugins/bootstrap-notify.init.js"
   type="text/javascript"></script>
<script src="assets/plugins/general/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
<script src="assets/plugins/general/jquery-validation/dist/additional-methods.js" type="text/javascript"></script>
<script src="assets/plugins/general/js/global/integration/plugins/jquery-validation.init.js"
   type="text/javascript"></script>
<script src="assets/plugins/general/toastr/build/toastr.min.js" type="text/javascript"></script>
<script src="assets/plugins/general/dual-listbox/dist/dual-listbox.js" type="text/javascript"></script>
<script src="assets/plugins/general/raphael/raphael.js" type="text/javascript"></script>
<script src="assets/plugins/general/morris.js/morris.js" type="text/javascript"></script>
<script src="assets/plugins/general/chart.js/dist/Chart.bundle.js" type="text/javascript"></script>
<script src="assets/plugins/general/plugins/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/general/plugins/jquery-idletimer/idle-timer.min.js" type="text/javascript"></script>
<script src="assets/plugins/general/waypoints/lib/jquery.waypoints.js" type="text/javascript"></script>
<script src="assets/plugins/general/counterup/jquery.counterup.js" type="text/javascript"></script>
<script src="assets/plugins/general/es6-promise-polyfill/promise.min.js" type="text/javascript"></script>
<script src="assets/plugins/general/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
<script src="assets/plugins/general/js/global/integration/plugins/sweetalert2.init.js" type="text/javascript"></script>
<script src="assets/plugins/general/jquery.repeater/src/lib.js" type="text/javascript"></script>
<script src="assets/plugins/general/jquery.repeater/src/jquery.input.js" type="text/javascript"></script>
<script src="assets/plugins/general/jquery.repeater/src/repeater.js" type="text/javascript"></script>
<script src="assets/plugins/general/dompurify/dist/purify.js" type="text/javascript"></script>

<!--end:: Vendor Plugins -->
<script src="assets/js/scripts.bundle.js" type="text/javascript"></script>

<!--begin:: Vendor Plugins for custom pages -->
<script src="assets/plugins/custom/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="assets/plugins/custom/@fullcalendar/core/main.js" type="text/javascript"></script>
<script src="assets/plugins/custom/@fullcalendar/daygrid/main.js" type="text/javascript"></script>
<script src="assets/plugins/custom/@fullcalendar/google-calendar/main.js" type="text/javascript"></script>
<script src="assets/plugins/custom/@fullcalendar/interaction/main.js" type="text/javascript"></script>
<script src="assets/plugins/custom/@fullcalendar/list/main.js" type="text/javascript"></script>
<script src="assets/plugins/custom/@fullcalendar/timegrid/main.js" type="text/javascript"></script>
<script src="assets/plugins/custom/gmaps/gmaps.js" type="text/javascript"></script>
<script src="assets/plugins/custom/flot/dist/es5/jquery.flot.js" type="text/javascript"></script>
<script src="assets/plugins/custom/flot/source/jquery.flot.resize.js" type="text/javascript"></script>
<script src="assets/plugins/custom/flot/source/jquery.flot.categories.js" type="text/javascript"></script>
<script src="assets/plugins/custom/flot/source/jquery.flot.pie.js" type="text/javascript"></script>
<script src="assets/plugins/custom/flot/source/jquery.flot.stack.js" type="text/javascript"></script>
<script src="assets/plugins/custom/flot/source/jquery.flot.crosshair.js" type="text/javascript"></script>
<script src="assets/plugins/custom/flot/source/jquery.flot.axislabels.js" type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net/js/jquery.dataTables.js" type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-bs4/js/dataTables.bootstrap4.js" type="text/javascript"></script>
<script src="assets/plugins/custom/js/global/integration/plugins/datatables.init.js" type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-autofill/js/dataTables.autoFill.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-autofill-bs4/js/autoFill.bootstrap4.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/custom/jszip/dist/jszip.min.js" type="text/javascript"></script>
<script src="assets/plugins/custom/pdfmake/build/pdfmake.min.js" type="text/javascript"></script>
<script src="assets/plugins/custom/pdfmake/build/vfs_fonts.js" type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-buttons/js/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-buttons/js/buttons.colVis.js" type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-buttons/js/buttons.flash.js" type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-buttons/js/buttons.html5.js" type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-buttons/js/buttons.print.js" type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-colreorder/js/dataTables.colReorder.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-fixedcolumns/js/dataTables.fixedColumns.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-keytable/js/dataTables.keyTable.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-responsive/js/dataTables.responsive.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-rowgroup/js/dataTables.rowGroup.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-rowreorder/js/dataTables.rowReorder.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-scroller/js/dataTables.scroller.min.js"
   type="text/javascript"></script>
<script src="assets/plugins/custom/datatables.net-select/js/dataTables.select.min.js" type="text/javascript"></script>
<script src="assets/plugins/custom/jstree/dist/jstree.js" type="text/javascript"></script>
<script src="assets/plugins/custom/jqvmap/dist/jquery.vmap.js" type="text/javascript"></script>
<script src="assets/plugins/custom/jqvmap/dist/maps/jquery.vmap.world.js" type="text/javascript"></script>
<script src="assets/plugins/custom/jqvmap/dist/maps/jquery.vmap.russia.js" type="text/javascript"></script>
<script src="assets/plugins/custom/jqvmap/dist/maps/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="assets/plugins/custom/jqvmap/dist/maps/jquery.vmap.germany.js" type="text/javascript"></script>
<script src="assets/plugins/custom/jqvmap/dist/maps/jquery.vmap.europe.js" type="text/javascript"></script>
<script src="assets/plugins/custom/uppy/dist/uppy.min.js" type="text/javascript"></script>
<script src="assets/plugins/custom/tinymce/tinymce.min.js" type="text/javascript"></script>
<script src="assets/plugins/custom/tinymce/themes/silver/theme.js" type="text/javascript"></script>
<script src="assets/plugins/custom/tinymce/themes/mobile/theme.js" type="text/javascript"></script>
<script src="assets/plugins/custom/jkanban/dist/jkanban.min.js" type="text/javascript"></script>

<!--end:: Vendor Plugins for custom pages -->

<!--end::Global Theme Bundle -->
<!--begin::Page Scripts(used by this page) -->
<script src="assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>

<!--begin::Page Scripts(used by this page) -->
<script src="assets/js/pages/dashboard.js" type="text/javascript"></script>
<script src="assets/js/pages/custom/user/profile.js" type="text/javascript"></script>


<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="assets/js/pagination.min.js" type="text/javascript"></script>

<script type="text/javascript">
   function checkRemove() {
      if ($('div.education_fields_wrap').length == 1) {
         $('#removeeducation').hide();
      } else {
         $('#removeeducation').show();
      }
   };
   $(document).ready(function () {
      checkRemove()
      $('#addeducation').click(function () {
         $('div.education_fields_wrap:last').after($('div.education_fields_wrap:first').clone());
         checkRemove();
      });
      $('#removeeducation').click(function () {
         $('div.education_fields_wrap:last').remove();
         checkRemove();
      });
   });

   function checkRemove() {
      if ($('div.experience_fields_wrap').length == 1) {
         $('#removeX').hide();
      } else {
         $('#removeX').show();
      }
   };
   $(document).ready(function () {
      checkRemove()
      $('#addX').click(function () {
         $('div.experience_fields_wrap:last').after($('div.experience_fields_wrap:first').clone());
         checkRemove();
      });
      $('#removeX').click(function () {
         $('div.experience_fields_wrap:last').remove();
         checkRemove();
      });
   });

   function checkRemove() {
      if ($('div.qua_fields_wrap').length == 1) {
         $('#removeQ').hide();
      } else {
         $('#removeQ').show();
      }
   };
   $(document).ready(function () {
      checkRemove()
      $('#addQ').click(function () {
         $('div.qua_fields_wrap:last').after($('div.qua_fields_wrap:first').clone());
         checkRemove();
      });
      $('#removeQ').click(function () {
         $('div.qua_fields_wrap:last').remove();
         checkRemove();
      });
   });
</script>


<script> 
   // $(document).ready(function() {  
   $('span').on('click', function(){
      console.log('this has been clicked');
      var target = $(this).attr('rel');
      $("#"+target).show().siblings("div").hide();
   });  
   // });      
</script>

<script>
   // $(document).ready(function() { 
   $('.confirmSubmitRating').hide();


   $('.customForm').on('submit', function (e) {
      e.preventDefault();

      var values = {};
      let competency = [];
      var target = $(this).attr('id');
      $.each($('#' + target).serializeArray(), function (i, field) {
         if (field.name === '_csrf' || field.name === 'applicantId' || field.name === 'teamId') {
            values[field.name] = field.value;
         } else {
            let trimFieldname = field.name.substring(28);
            //  competency.push({[trimFieldname] : field.value});
            competency.push({
               'competency': field.value,
               'stars': field.value
            });
         }
         // console.log(values);
      });

      values['competency'] = competency

      let applicantTeamId = $('#applicantTeamId').val();
      console.log('this is the applicant team id ' + values.teamId);
      const postRating = async () => {
         let results = await axios({
            method: 'post',
            url: `/team/rateMembers/${values.teamId}`,
            headers: {
               'CSRF-Token': values._csrf
            },
            data: values,
         });
         let { success } = results.data;
         if (success) {
            console.log('THis is the success')
            console.log('This is the button id ');
            console.log(`#confirmSubmitRating${values.applicantId}`);
            console.log(`#submitRating${values.applicantId}`);
            $(`.confirmSubmitRating${values.applicantId}`).show();
            $(`.submitRating${values.applicantId}`).hide();
         }
      }
      postRating();
      // console.log(values);
   })



   $('.customLargeForm').on('submit', function (e) {
      e.preventDefault();
      console.log('this has been clicked')
      var values = {};
      let competency = [];
      var target = $(this).attr('id');
      $.each($('#' + target).serializeArray(), function (i, field) {
         console.log('is the filed', field);
         if (field.name === '_csrf' || field.name === 'applicantId' || field.name === 'teamId') {
            values[field.name] = field.value;
         } else {
            let trimFieldname = field.name.substring(28);
            //  competency.push({[trimFieldname] : field.value});
            competency.push({
               'competency': field.value,
               'stars': field.value
            });
         }
         console.log(values);
      });

      values['competency'] = competency

      let applicantTeamId = $('#applicantTeamId').val();
      // console.log('this is the applicant team id ' + values.teamId);
      const postRating = async () => {
         let results = await axios({
            method: 'post',
            url: `/team/rateMembers/${values.teamId}`,
            headers: {
               'CSRF-Token': values._csrf
            },
            data: values,
         });
         let { success } = results.data;
         if (success) {
            console.log('THis is the success')
            console.log('This is the button id ');
            console.log(`#confirmSubmitRatingLarge${values.applicantId}`);
            console.log(`#submitRatingLarge${values.applicantId}`);
            $(`.confirmSubmitRating${values.applicantId}`).show();
            $(`.submitRating${values.applicantId}`).hide();
         }
      }
      postRating();
      // console.log(values);
   })


</script>

<script>
$(function(){
      var socket = io();
      let applicantId = $('#applicantId').val();
      let applicantTeamId = $('#applicantTeamId').val();
      // console.log($('#applicantId').val())
      // console.log('displaying the applicant on client side');
      // console.log(applicantId);
      socket.emit('login', applicantId);
      socket.on(applicantId, ({notifications, unreadNotifications, applicant})=>{
        console.log('displaying this applicants info ', applicantId);
         const numberOfNotifications = `User Notifications &nbsp; <span class="btn btn-success btn-sm btn-bold btn-font-md">${unreadNotifications? unreadNotifications.length : 0} new</span>`;
         // $('#numberOfNotifications').append($(numberOfNotifications));
         // $('#numberOfNotifications').replaceWith($(numberOfNotifications));
         $('#numberOfNotifications').replaceWith(`<h3 class="kt-head__title " id="numberOfNotifications"> 
                           User Notifications &nbsp; <span class="btn btn-success btn-sm btn-bold btn-font-md">${unreadNotifications? unreadNotifications.length : 0} new</span> </h3>` );

         const showNotifications = ` <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true"
                                    data-height="300" data-mobile-height="200" id="showNotifications">
                                
                                        <% if(notifications.length === 0){%>
                                       <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon2-box-1 kt-font-brand"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                               No notification
                                            </div>
                                            <div class="kt-notification__item-time">
                                               
                                            </div>
                                        </div>
                                    </a>
                                    <%} else{%>
                                       <% notifications.forEach(notification=>{ %>
                                       <a href="/applicant/notifications/${applicant._id}" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon2-box-1 kt-font-brand"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                <%=notification.brief%>
                                            </div>
                                            <div class="kt-notification__item-time">
                                                <%=moment(notification.dateAdded).fromNow()%>
                                            </div>
                                        </div>
                                    </a>
                                    <%} )%>
                                    <%}%>
                                    </div>
                                    `;
               $('#showNotifications').replaceWith($(showNotifications));
               const getUnreadNotification = () => {
                  if(unreadNotifications.length === 0){
                     return (` <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true"
                                    data-height="300" data-mobile-height="200" id="showUnreadNotifications">
                                
                     <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon2-box-1 kt-font-brand"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                               No notification
                                            </div>
                                            <div class="kt-notification__item-time">
                                               
                                            </div>
                                        </div>
                                    </a>
                                    </div>`);
                  }
                  console.log('There are unread notifications');
                  let unreadNotif = unreadNotifications.map(notificati=>{
                     console.log(notificati)
                                   return(   

                                 //   `<h2> ${notification.brief} </h2>`
                                      ` <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true"
                                    data-height="300" data-mobile-height="200" id="showUnreadNotifications">
                                
                                       <a href="/applicant/notifications/${applicant._id}" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon2-box-1 kt-font-brand"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title">
                                                ${notificati.brief}
                                            </div>
                                            <div class="kt-notification__item-time">
                                                ${moment(notificati.dateAdded).fromNow()}
                                            </div>
                                        </div>
                                    </a>
                                    </div>
                                    `
                                    )
                                 });
                  return unreadNotif;
            }
         // const showUnreadNotifications =  getUnreadNotification();
               // $('#showUnreadNotifications').append($(showUnreadNotifications);
               $('#showUnreadNotifications').replaceWith(getUnreadNotification());
      });
   })

   $('.retrieveTeamInvite').hide();

   const inviteTeamMember = async(applicant, teamId)=>{
         console.log('This has been clicked');
      let results =  await axios.get(`/team/${teamId}/${applicant}/invite-new`)
      // console.log('It calls this' + applicant + ' ' + teamId);
      let {success} = results.data;
      console.log(results.data.message);
      if(success){
         $(`#retrieveTeamInvite${applicant}`).show();
         $(`#sendTeamInvite${applicant}`).hide();
      }
   }

</script>



<!-- This script controls the search feature  -->
<script>
   $('#myInput').keyup(function() {
      console.log('this has been called the filter function');
   //    console.log('the input value is ', inputValue);
   let dropdownContent = document.getElementById('myDropdown');
   dropdownContent.style.display = 'block';
  let input, filter, ul, li, a, i;
//   input = document.getElementById("myInput");
input = this.value;
       console.log(input);
   // input = inputValue;
  filter = input.toUpperCase();
  console.log('the input typed', filter);
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    let txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
} );

</script>