
    <div class="ui-block">
        <div class="ui-block-title">
            <h5 class="title">Navigation</h5>
        </div>
        <div class="your-profile">
            <div class="ui-block-title">
                <a href="/dashboard" class="h7 title">Dashboard</a>
            </div>
            <div id="accordion1" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne-1">
                        <h7 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne">
                                Missions
                                <svg class="olymp-dropdown-arrow-icon"><use xlink:href="../../../svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                            </a>
                        </h6>
                    </div>

                    <div id="collapseOne-1" class="collapse show1" role="tabpanel" aria-labelledby="headingOne">
                        <ul class="your-profile-menu">
                            <li>
                                <a href="/mymissions">My Challenges</a>
                            </li>
                            <li>
                                <a href="/mymissions?selected=false">Current Challenges</a>
                            </li>
                            <li>
                                <a href="/mymissions?selected=true">Completed Challenges</a>
                            </li>
                            <%# <li>
                                <a href="30-YourAccount-ChangePassword.html">New Challenge</a>
                            </li> %>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 
                <div class="ui-block-title">
                    <a href="35-YourAccount-FriendsRequests.html" class="h7 title">My Challenges</a>
                    <a href="#" class="items-round-little bg-blue">4</a>
                </div>
                <div class="ui-block-title">
                    <a href="35-YourAccount-FriendsRequests.html" class="h7 title">Friend Requests</a>
                    <a href="#" class="items-round-little bg-blue">4</a>
                </div>
            -->
            <div class="ui-block-title">
                <a href="/logout" class="h7 title">Logout</a>
            </div>
        </div>
    </div>
