<script>
   // Set the date we're counting down to
   // var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();
   var countDownDate = new Date('<%=moment(mission.endDate).format("MMM D, YYYY HH:MM:SS") %>').getTime();
   // var countDownDate = '<%=moment(mission.endDate).format("MMM D, YYYY HH:MM:SS") %>';
   // alert(countDownDate);
   // Update the count down every 1 second
   var x = setInterval(function () {

      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("demo").innerHTML = days + " Days  " + hours + " Hours  "
         + minutes + " Mins  " + seconds + " Secs  ";

      // If the count down is finished, write some text
      if (distance < 0) {
         clearInterval(x);
         document.getElementById("demo").innerHTML = "EXPIRED";
      }
   }, 1000);
</script>