<div class="kt-subheader__toolbar">
    <div class="kt-subheader__wrapper">
        <a href="/missions" class="btn kt-subheader__btn-secondary">
            All Challenges
        </a>
        <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions" data-placement="top">
            <a href="#" class="btn btn-danger kt-subheader__btn-options" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Challenges
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/mymissions"><i class=""></i>My Challenges</a>
                <a class="dropdown-item" href="/mymissions?selected=active"><i class=""></i> My Active Challenges</a>
                <a class="dropdown-item" href="/mymissions?selected=closed"><i class=""></i> Closed Challenges</a>
                <!-- <hr> -->
                <!-- <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a> -->
            </div>
        </div>
    </div>
</div>